---
title: sb · Battle Quest
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Battle Quest</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Illustration</span>
    <span class="tag type">Graphic Design</span>
  </p>

  <div class="project-description">
    <h5>Castle Background</h5>
    <img src="/snippets/assets/bq-castle.png" />
    <h5>Knight Character</h5>
    <img src="/snippets/assets/knight.png" />
    <h5>Mage Character</h5>
    <img src="/snippets/assets/mage.png" />
    <h5>Sprites</h5>
    <img src="/snippets/assets/knight-sprites.png" />
  </div>
</div>

<%= partial "partials/footer" %>
