---
title: sb · Fletching
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Fletching</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">Branding</span>
    <span class="tag type">Illustration</span>
    <span class="tag type">HTML</span>
    <span class="tag type">CSS</span>
  </p>

  <div class="project-description">
    <h5>Colors</h5>
    <img src="/snippets/assets/fletching-colors.png" />
    <h5>logo</h5>
    <img src="/snippets/assets/fletching-logo.png" />
    <h5>Forms</h5>
    <img src="/snippets/assets/fletching-form.png" />
    <h5>Interface</h5>
    <div class="row">
      <div class="column half">
        <img src="/snippets/assets/radar.png" />
      </div>
      <div class="column half">
        <img src="/snippets/assets/fletching-header.png" />
      </div>
    </div>
  </div>
</div>

<%= partial "partials/footer" %>
