---
title: sb · Snippets
---

<%= partial "partials/header" %>

<div role="content" class="container work">
  <ul class="work-cards">
    <li>
      <a class="fletching" href="/snippets/fletching.html">
        <p>Fletching</p>
      </a>
    </li>
    <li>
      <a class="axus" href="/snippets/axus.html">
        <p>AXUS Travel App</p>
      </a>
    </li>
    <li>
      <a class="artisan" href="/snippets/artisan.html">
        <p>Artisan</p>
      </a>
    </li>
    <li>
      <a class="jetset" href="/snippets/jetset.html">
        <p>JetSet World Travel</p>
      </a>
    </li>
    <li>
      <a class="practice-areas" href="/snippets/practice-areas.html">
        <p>Vision</p>
      </a>
    </li>
    <li>
      <a class="knight" href="/snippets/battle-quest.html">
        <p>Battle Quest</p>
      </a>
    </li>
  </ul>

  <h3>Elements</h3>
  <ul class="work-cards">
    <li>
      <a class="red-well" href=""></a>
    </li>
    <li>
      <a class="pm-mockups" href=""></a>
    </li>
    <li>
      <a class="WIO-banner" href=""></a>
    </li>
    <li>
      <a class="WIO-styleguide" href=""></a>
    </li>
    <li>
      <a class="vs-mockups" href=""></a>
    </li>
    <li>
      <a class="holiday-card" href=""></a>
    </li>
    <li>
      <a class="gbr-form" href=""></a>
    </li>
    <li>
      <a class="g-listing" href=""></a>
    </li>
  </ul>
</div>

<%= partial "partials/footer" %>
