---
title: sb · JetSet
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>JetSet World Travel</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">Branding</span>
    <span class="tag type">HTML</span>
    <span class="tag type">CSS</span>
  </p>

  <div class="project-description">
    <h5>Style Guide</h5>
    <img src="/snippets/assets/js-color-pallette.jpg" />
    <h5>iOS Mockups</h5>
    <img src="/snippets/assets/JS-mobile-mockup.jpg" />
    <img src="/snippets/assets/JS-mobile-mockup-itinerary.jpg" />
    <img src="/snippets/assets/JS-mobile-mockup-calendar.jpg" />
    <h5>Web App UI</h5>
    <img src="/snippets/assets/JS-web-app.png" />
    <img src="/snippets/assets/JS-web-app-2.png" />
    <h5>PDF Itinerary Design</h5>
    <img src="/snippets/assets/JS-pdf-itinerary-2.png" />
  </div>
</div>

<%= partial "partials/footer" %>
