---
title: Apprenticeship
---

<%= partial "partials/apprenticeship-nav" %>

<div role="main" class="container">
  <section>
    <h3>Requirements</h3>
    <ul class="cards">
      <li>
        <span class="cards-icon">✍</span>
        Each week write a blog post about something you've learned.
      </li>
      <li>
        <span class="cards-icon">❝</span>
        You'll be assigned reading each week, be prepared to discuss
        each Monday.
      </li>
      <li>
        <span class="cards-icon">✂</span>
        Give a lightning talk once a month about something you've
        learned.
      </li>
      <li>
        <span class="cards-icon">✎</span>
        You will be assigned projects and experiments to complete each week.
      </li>
    </ul>
  </section>

  <h3>Tools & Resources</h3>
  <div class="row">
    <div class="column one-third">
      <h5>Front End Development</h5>
      <ul>
        <li>
          <a href="http://sass-lang.com/">Sass</a>
          <span class="tag">CSS Extension</span>
        </li>
        <li>
          <a href="http://compass-style.org/">Compass</a>
          <span class="tag">CSS Extension</span>
        </li>
        <li>
          <a href="http://necolas.github.io/normalize.css/">Normalize</a>
          <span class="tag">CSS Reset</span>
        </li>
        <li>
          <a href="http://adamkaplan.me/grid/">Grid</a>
          <span class="tag">Mobile First Guide</span>
        </li>
      </ul>
    </div>

    <div class="column one-third">
      <h5>Visual Design</h5>
      <ul>
        <li>
          <a href="http://hellohappy.org/beautiful-web-type/">Beautiful Web Type</a>
          <span class="tag">Typography</span>
        </li>
        <li>
          <a href="http://typekit.com">Typekit</a>
          <span class="tag">Typography</span>
        </li>
        <li>
          <a href="http://modularscale.com">Modular Scale</a>
          <span class="tag">Tim Brown</span>
        </li>
        <li>
          <a href="http://kuler.adobe.com">Kuler</a>
          <span class="tag">Colors</span>
        </li>
        <li>
          <a href="colourlovers.com">Colour Lovers</a>
          <span class="tag">Colors</span>
        </li>
      </ul>
    </div>

    <div class="column one-third">
      <h5>Applications</h5>
      <ul>
        <li>
        <a href="http://artisan.8thlight.com">Artisan</a>
        <span class="tag">Storyboard</span>
        </li>
      </ul>
    </div>

  </div>
</div>
