---
title: sb · Apprenticeship Projects
---

<%= partial "partials/apprenticeship-nav" %>

<div class="container">
  <h3>Projects</h3>
  <ul class="cards">
    <li>
      <strong>Jekyll Blog</strong>
      <span class="divide"></span>
      Set up a new blog site with using Jekyll and GitHub pages.
      <a href="projects/jekyll.html">More</a>
    </li>
    <li>
      <strong>Printed Menu</strong>
      <span class="divide"></span>
      Find a printed restaurant menu and mark it up using just semantic HTML.
      <a href="projects/menu.html">More</a>
    </li>
    <li>
      <strong>News Article</strong>
      <span class="divide"></span>
      Find a newspaper or magazine article, mark it up using
      semantic HTML, and style with CSS to match layout.
      <a href="projects/news.html">More</a>
    </li>
    <li>
      <strong>Projects Portfolio</strong>
      <span class="divide"></span>
      Create a portfolio of all your projects. Add a link to it on your blog.
      <a href="projects/portfolio.html">More</a>
    </li>
  </ul>
  <ul class="cards">
    <li>
      <strong>Tables Challenge</strong>
      <span class="divide"></span>
      Find a schedule or something else with tabular data, mark it up with semantic HTML and style with CSS.
      <a href="projects/tables.html">More</a>
    </li>
    <li>
      <strong>Recipe Challenge</strong>
      <span class="divide"></span>
      Find an online recipe, mark it up with POSH and Microdata.
      <a href="projects/recipe.html">More</a>
    </li>
    <li>
      <strong>Self-evaluation of Skills</strong>
      <span class="divide"></span>
      Rank your comfort level with various aspects of web design on some sort of scale.
      <a href="projects/skills.html">More</a>
    </li>
    <li>
      <strong>CSS Positioning</strong>
      <span class="divide"></span>
      Read about <a href="http://docs.webplatform.org/wiki/css/properties/position">CSS positioning</a>
      and create a 1 page site to illustrate the things you learned.
      <a href="projects/positioning.html">More</a>
    </li>
  </ul>

  <ul class="cards">
    <li>
      <strong>Expressive HTML</strong>
      <span class="divide"></span>
      Recreate the Brown Bag Menu using Expressive HTML
      <a href="projects/expressive.html">More</a>
    </li>
    <li>
      <strong>Speedometer Challenge</strong>
      <span class="divide"></span>
      Create a functional speedometer using HTML, CSS, and jQuery
      <a href="projects/speedometer.html">More</a>
    </li>
    <li>
      <strong>Animations Experiment</strong>
      <span class="divide"></span>
      Recreate concepts from <em>Visual Grammar in HTML, CSS, and CSS3 Animations</em>
      <a href="projects/animations.html">More</a>
    </li>
    <li>
      <strong>User Testing</strong>
      <span class="divide"></span>
      Follow ideas for testing in <em>Rocket Surgery Made Easy</em>. Conduct 3-5 tests.
      <a href="projects/user-testing.html">More</a>
    </li>
  </ul>
</div>

<%= partial "partials/footer" %>
