---
title: sb · Apprenticeship Readings
---

<%= partial "partials/apprenticeship-nav" %>

<div class="container">
  <h2>Readings</h2>
  <ul class="book-title">
    <li>
      <a href="http://www.goodreads.com/book/show/258800.Transcending_CSS">Transcending CSS</a>
      <span class="tag">Andy Clarke</span>
    </li>

    <li>
      <a href="http://dev.opera.com/articles/view/1-introduction-to-the-web-standards-cur/">The Web Standards Curriculum</a>
      <span class="tag">Dev.Opera</span>
    </li>

    <li>
      <a href="http://www.goodreads.com/book/show/130730.Universal_Principles_of_Design">Universal Principles of Design</a>
      <span class="tag">William Lidwell & Kritina Holden</span>
    </li>

    <li>
      <a href="http://www.goodreads.com/book/show/69736.Thinking_with_Type">Thinking with Type: A Primer for Designers</a>
      <span class="tag">Ellen Lupton</span>
    </li>

    <li>
      <a href="http://www.goodreads.com/book/show/9648254-ordering-disorder">Ordering Disorder</a>
      <span class="tag">Khoi Vinh</span>
    </li>

    <li>
      <a href="http://www.goodreads.com/book/show/8881346-simple-and-usable">Simple and Usable</a>
      <span class="tag">Giles Colborne</span>
    </li>

    <li>
      <a href="http://www.goodreads.com/book/show/6658783-rocket-surgery-made-easy">Rocket Surgery Made Easy</a>
      <span class="tag">Steve Krug</span>
    </li>

    <li>
      <a href="http://www.goodreads.com/book/show/1650837.What_Is_a_Designer">What Is a Designer</a>
      <span class="tag">Norman Potter</span>
    </li>

    <li>
      <a href="http://www.goodreads.com/book/show/17745.Envisioning_Information">Envisioning Information</a>
      <span class="tag">Edward R. Tufte</span>
    </li>

    <li>
      <a href="http://www.goodreads.com/book/show/8564020-designing-with-the-mind-in-mind">Designing with the Mind in Mind</a>
      <span class="tag">Jeff Johnson</span>
    </li>

    <li>
      <a href="http://www.goodreads.com/book/show/840.The_Design_of_Everyday_Things">The Design of Everyday Things</a>
      <span class="tag">Donald A. Norman</span>
    </li>

    <li>
      <a href="http://www.goodreads.com/book/show/3296910-web-form-design">
        Web Form Design: Filling in the Blanks
      </a>
      <span class="tag">Luke Wroblewski</span>
    </li>
  </ul>
</div>

<%= partial "partials/footer" %>
