---
title: sb · Apprenticeship Readings
---

<%= partial "partials/apprenticeship-nav" %>

<div class="container">
  <h2>Reading</h2>
  <a href="http://www.goodreads.com/book/show/258800.Transcending_CSS">
    <div>
      <p>
      Transcending CSS
      <span class="tag">Andy Clarke</span>
      </p>
    </div>
  </a>

  <a href="http://dev.opera.com/articles/view/1-introduction-to-the-web-standards-cur/">
    <div>
      <p>
      The Web Standards Curriculum
      <span class="tag">Dev.Opera</span>
      </p>
    </div>
  </a>

  <a href="http://www.goodreads.com/book/show/130730.Universal_Principles_of_Design">
    <div>
      <p class="m-reading-title">
      Universal Principles of Design
      <span class="tag">William Lidwell & Kritina Holden</span>
      </p>
    </div>
  </a>

  <a href="http://www.goodreads.com/book/show/69736.Thinking_with_Type">
    <div>
      <p>
      Thinking with Type: A Primer for Designers
      <span class="tag">Ellen Lupton</span>
      </p>
    </div>
  </a>

  <a href="http://www.goodreads.com/book/show/9648254-ordering-disorder">
    <div>
      <p>
      Ordering Disorder
      <span class="tag">Khoi Vinh</span>
      </p>
    </div>
  </a>

  <a href="http://www.goodreads.com/book/show/8881346-simple-and-usable">
    <div>
      <p>
      Simple and Usable
      <span class="tag">Giles Colborne</span>
      </p>
    </div>
  </a>

  <a href="http://www.goodreads.com/book/show/6658783-rocket-surgery-made-easy">
    <div>
      <p>
      Rocket Surgery Made Easy
      <span class="tag">Steve Krug</span>
      </p>
    </div>
  </a>

  <a href="http://www.goodreads.com/book/show/1650837.What_Is_a_Designer">
    <div>
      <p>
      What Is a Designer
      <span class="tag">Norman Potter</span>
      </p>
    </div>
  </a>

  <a href="http://www.goodreads.com/book/show/17745.Envisioning_Information">
    <div>
      <p>
      Envisioning Information
      <span class="tag">Edward R. Tufte</span>
      </p>
    </div>
  </a>

  <a href="http://www.goodreads.com/book/show/8564020-designing-with-the-mind-in-mind">
    <div>
      <p>
      Designing with the Mind in Mind
      <span class="tag">Jeff Johnson</span>
      </p>
    </div>
  </a>


  <a href="http://www.goodreads.com/book/show/840.The_Design_of_Everyday_Things">
    <div>
      <p>
      The Design of Everyday Things
      <span class="tag">Donald A. Norman</span>
      </p>
    </div>
  </a>

  <a href="http://www.goodreads.com/book/show/3296910-web-form-design">
    <div>
      <p>
      Web Form Design: Filling in the Blanks
      <span class="tag">Luke Wroblewski</span>
      </p>
    </div>
  </a>
</div>

<%= partial "partials/footer" %>
