---
title: sb · Organization Syllabus
---

<%= partial "partials/apprenticeship-nav" %>
<%= partial "partials/syllabus-nav" %>
<div class="container">
  <h3>Organization</h3>
  <ul>
    <li>
    <h4>I. Code Style</h4>
    <ul class="m-sub-list">
      <li>
      a. <a href="http://css-tricks.com/what-beautiful-html-code-looks-like/">
        What Beautiful HTML looks like</a>
      <span class="tag">Chris Coyier</span>
      </li>
      <li>
      b. <a href="http://blog.8thlight.com/billy-whited/2011/03/24/css-formatting-tips.html">
        CSS Formatting Tips</a>
      <span class="tag">Billy Whited</span>
      </li>
      <li>
      c. <a href="http://smacss.com/">Scalable and Modular Architecture for CSS</a>
      <span class="tag">Jonathan Snook</span>
      </li>
    </ul>
    <li>
    <h4>II. Project Estimating</h4>
    <ul>
      <li>a. <a href="http://artisan.8thlight.com">Artisan Project Management and Estimation Tool</a>
      <span class="tag">Artisan</span>
      </li>
      <li>b. <a href="http://blog.8thlight.com/paul-pagel/FromEstimateToCommitment.pdf">The PERT Technique</a>
      <span class="tag">Paul Pagel</span>
      </li>
    </ul>
    </li>
    </li>
  </ul>
</div>
