<%= partial "partials/apprenticeship-nav" %>
<%= partial "partials/syllabus-nav" %>
<div class="container">
  <h3>Tools</h3>
  <ul>
    <li>
    <ul>
      <li>
        <a href="http://xscopeapp.com/">xScope</a>
        <span class="tag">Design</span>
      </li>
      <li>
        <a href="http://mouapp.com/">Mou</a>
      <span class="tag">Markdown Editor</span>
      </li>
      <li>
        <a href="http://www.acqualia.com/soulver/">iTerm2</a>
        <span class="tag">Terminal</span>
      </li>
    </ul>
    </li>
  </ul>
</div>
