---
title: sb · CSS Syllabus
---

<%= partial "partials/apprenticeship-nav" %>
<%= partial "partials/syllabus-nav" %>
<div class="container">
  <h3>Cascading Style Sheets</h3>
  <ul>
    <li>
    <h4>I: CSS: The Basics</h4>
    <ul class="m-sub-list">
      <li>
      a. <a href="https://developer.mozilla.org/en-US/learn/css">MDN Learning</a>
      <span class="tag">Learn CSS</span>
      </li>
      <li>
      b. <a href="http://www.css-101.org/index.php">CSS-101</a>
      <span class="tag">Learn CSS</span>  
      </li>
      <li>
      c. <a href="http://dochub.io/#css/">DocHub CSS Docs</a>
      <span class="tag">Documentation</span>
      </li>
      <li>
      d. <a href="http://www.w3.org/wiki/CSS_absolute_and_fixed_positioning">
        Absolute and Fixed Positioning</a>
      <span class="tag">Positioning</span>
      </li>
      <li>
      e. <a href="http://www.w3.org/wiki/CSS_static_and_relative_positioning">
        Static and Relative Positioning</a>
      <span class="tag">Positioning</span>
      </li>
    </ul>
    </li>
    <li>
    <h4>II. Selectors</h4>
    <ul class="m-sub-list">
      <li>
      a. <a href="http://www.w3.org/TR/CSS2/selector.html">Selectors</a>
      <span class="tag">W3C</span>
      </li>
      <li>
      b. <a href="http://designfestival.com/better-semantics-with-css-combinators-and-selectors/">
        Better semantics with css combinators and selectors</a>
      <span class="tag">Chris Sealey</span>
      </li>
      <li>
      c. <a href="http://css-tricks.com/how-nth-child-works/">How nth-child Works</a>
      <span class="tag">Chris Coyier</span>
      </li>
    </ul>
    </li>
    <li>
    <h4>III. Good things to know about CSS</h4>
    <ul class="m-sub-list">
      <li>
      a. <a href="http://www.impressivewebs.com/a-detailed-look-at-the-z-index-css-property/">
        A detailed look at the z-index property</a>
      <span class="tag">Impressive Webs</span>
      </li>
      <li>
      b. <a href="http://www.alistapart.com/articles/css-floats-101/">CSS Floats 101</a>
      <span class="tag">Noah Stokes</span>
      </li>
      <li>
      c. <a href="http://www.quirksmode.org/css/display.html">The Display Declaration</a>
      <span class="tag">Peter-Paul Koch</span>
      </li>
      <li>
      d. <a href="http://html5doctor.com/html-5-reset-stylesheet/">Reset Stylesheet</a>
      <span class="tag">HTML5 Doctor</span>
      </li>
    </ul>
    </li>
    <li>
    <h4>IV. Fun with CSS3</h4>
    <ul class="m-sub-list">
      <li>
      a. <a href="http://css3please.com/">CSS3 Please</a>
      <span class="tag">Generator</span>
      </li>
      <li>
      b. <a href="http://csslint.net/">CSS Lint</a>
      <span class="tag">Criticizer</span>
      </li>
      <li>
      c. <a href="http://css-tricks.com/examples/ShapesOfCSS/">The Shapes of CSS</a>
      <span class="tag">Drawing</span>
      </li>
      <li> 
      d. <a href="http://css3generator.com/">CSS3 Generator</a>
      <span class="tag">Generator</span>
      </li>
      <li>
      e. <a href="http://24ways.org/2010/intro-to-css-3d-transforms">3D Transforms</a>
      <span class="tag">David DeSandro</span>
      </li>
      <li>
      f. <a href="http://border-radius.com/">Border Radius Generator</a>
      <span class="tag">Generator</span>
      </li>
      <li>
      g. <a href="https://developer.mozilla.org/en/CSS/CSS_animations">CSS3 Animations</a>
      <span class="tag">Animation</span>
      </li>
    </ul>
    </li>
  </ul>
</div>

<%= partial "partials/footer" %>
