---
title: sb · Environment Syllabus
---

<%= partial "partials/apprenticeship-nav" %>
<%= partial "partials/syllabus-nav" %>
<div class="container syllabus link-section">
  <h2>Environment</h2>
  <ul>
    <li>
    <h4>I. Using Git</h4>
    <ul>
      <li>a. <a href="https://www.codeschool.com/courses/try-git">Try Git</a>
      <span class="tag">Code School</span>
      </li>
      <li>b. <a href="http://gitimmersion.com/">Git Immersion</a>
      <span class="tag">Neo</span>
      </li>
      <li>c. <a href="http://thinkvitamin.com/design/git-for-designers-part-1/">Git for Designers</a>
      <span class="tag">Jason Seifer</span>
      </li>
    </ul>
    </li>
    <li>
    <h4>II. Installing and using VIM</h4>
    <ul>
      <li>a. <a href="https://github.com/sl4m/vim_dotfiles">Dotfiles</a>
        <span class="tag">Steve Kim</span>
      </li>
      <li>b. <a href="https://github.com/pratt121/dotfiles">Dotfiles</a>
        <span class="tag">Brian Pratt</span>
      </li>
      <li>c. <a href="https://github.com/rocketspops/css.vim">Better Syntax Highlighting for CSS</a>
      <span class="tag">Billy Whited</span>
      </li>
      <li>d. <a href="http://vim-adventures.com/">Vim Adventures</a>
      <span class="tag">Doron Linder</span>
      </li>
    </ul>
    </li>
    <li>
    <h4>III. Get your blog up and running with Github Pages and Jekyll</h4>
    <ul>
      <li>a. <a href="http://www.moncefbelyamani.com/how-to-install-xcode-homebrew-git-rvm-ruby-on-mac/">Set up your Development Environment</a>
      <span class="tag">Moncef Belyamani</span>
      </li>
      <li>b. <a href="http://pages.github.com/">Github Pages and Jekyll</a>
      </li>
      <li>c. <a href="http://pages.github.com/">Jekyll Docs</a>
      </li>
    </ul>
    </li>
    <li>
    <h4>IV. Modern Tools</h4>
    <ul>
      <li>a. <a href="http://middlemanapp.com/">Middleman Docs</a>
      <span class="tag">Static Site Generator</span>
      </li>
      <li>b. <a href="http://pages.github.com/">Jekyll</a>
      <span class="tag">Static Site Generator</span>
      </li>
      <li>c. <a href="http://sass-lang.com/">Sass</a>
      <span class="tag">CSS Extension</span>
      </li>
      <li>d. <a href="http://compass-style.org/">Compass Docs</a>
      <span class="tag">CSS Extension</span>
      </li>
    </ul>
    <h4>V. Testing</h4>
    <ul>
      <li>
      a. <a href="http://osxdaily.com/2011/09/04/internet-explorer-for-mac-ie7-ie8-ie-9-free/">
        Virtual Box for IE Testing</a>
      <span class="tag">OSX Daily</span>
      </li>
    </li>
  </ul>
</div>
<%= partial "partials/footer" %>
