@import "compass/css3/box-sizing";

$dark-gray: #404c51;
$light-gray: #ced3d5;
$red: #ff574a;
$white: #fff;
$mustard: #bba94f;

*, *:before, *:after {
  @include box-sizing(border-box);
}

body {
  background: $white;
  background: #3A4449;
  color: $white;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 110%;
  font-style: normal;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

::selection {
  background: $light-gray;
  color: $white;
}

img {
  width: 100%;
}

blockquote {
  color: #9CA7AC;
  font-style: italic;
  margin: 1.5em 0;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1.5em;
}

h1 {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 2.6em;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.3em;
  margin: 1em 0;
}

h3 {
  color: $white;
  font-size: 1.5em;
  font-weight: 500;
  padding: 1em 0 0 0;
}

h4 {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0.8em 0 1em 0;
}

h5 {
  font-size: 0.7em;
  font-weight: 600;
  color: $mustard;
  letter-spacing: 1px;
  margin: 0 0 1.8em 0;
  text-transform: uppercase;
}

em {
  font-family: "brandon-grotesque",sans-serif;
  font-style: italic;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 0.5em;
  }
  &.book-title li a {
    margin-right: 0.6em;
  }
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
  article {
    clear: both;
  }
  &.work {
    margin-top: 2em;
    @media (max-width: 840px) {
      margin-top: 1em;
    }
  }
}

.row {
  margin: 0;
  padding: 0;
}

.column {
  margin: 2em 0;
}

header {
  background: $dark-gray;
  overflow: hidden;
  padding: 1.6em 0;
  h2 {
    border-bottom: none;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
    @media (max-width: 840px) {
      margin-bottom: 1em;
    }
    @media (min-width: 840px) {
      float: left;
    }
  }
}

.links {
  overflow: hidden;
  @media (min-width: 840px) {
    float: right;
  }
  li {
    display: block;
    margin: 0;
    padding-right: 2em;
    a {
      color: #99a3a8;
      display: inline-block;
      font-size: 1em;
      font-weight: 500;
      text-decoration: none;
      &:hover {
        color: $mustard;
      }
    }
    &:last-child {
      padding-right: 0;
    }
    @media (min-width: 840px) {
      display: inline-block;
    }
  }
}

.sub-nav {
  background: $mustard;
  padding: 0 1em;
  text-align: center;
  ul {
    li {
      text-align: center;
      margin: 0;
    }
  }
  a {
    color: $white;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    width: 100%;
  }
}

.nav-item {
  border-top: 1px solid rgba(0,0,0,0.1);
  margin: 0;
}

.intro {
  padding: 6em 0;
  text-align: center;
  h1 {
    color: $white;
    font-size: 2.2em;
    line-height: 1.2em;
    letter-spacing: 2px;
    margin: 0.5em 0 0.2em 0;
    text-transform: uppercase;
  }
  h3 {
    color: $mustard;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    @media(max-width: 640px) {
      font-size: 0.6em;
    }
  }
  a {
    color: $light-gray;
    text-decoration: none;
    &:hover {
      color: $mustard;
    }
  }
}

img {
  display: block;
  float: left;
  width: 100%;
}

.cards {
  width: 100%;
  li {
    color: #4D4D4D;
    display: block;
    padding: 1.5em;
    text-align: center;
    width: 100%;
    margin: 1em 0 0 0;
    background: #fff;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 1em;
    }
    a {
      color: $mustard;
    }
    a:last-child {
      display: block;
      margin-top: 3em;
      text-align: center;
    }
  }
  .reverse {
    background: $red;
    color: $white;
    a {
      color: $white;
    }
  }
}

.cards-icon {
  display: block;
  font-size: 1.5em;
  margin: -0.35em auto 0.15em auto;
  text-align: center;
  width: 2.1em;
  padding: 0 0 0.4em 0;
}

.work-cards {
  overflow: hidden;
  li {
    float: left;
    margin: 0;
    position: relative;
    width: 50%;
    @media(max-width: 640px) {
      margin-bottom: 1em;
      width: 100%;
    }
  }

  a {
    background: $dark-gray;
    cursor: pointer;
    display: block;
    height: 450px;
    padding: 1em;
    position: relative;
    text-decoration: none;

    &.adventures {
      background: #4ebb94 url(/work/projects/assets/adventures.png);
      background-size: 260px;
      background-repeat: no-repeat;
      background-position: center;
      @media(max-width: 640px) {
        background-size: 200px;
      }
    }
    &.footprints {
      background: #576978 url(/work/projects/assets/footprints.png);
      background-size: 300px;
      background-repeat: no-repeat;
      background-position: center;
      @media(max-width: 640px) {
        background-size: 200px;
      }
    }
    &.sherlac {
      background: #e76f5c url(/work/projects/assets/sherlac.png);
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.sazzy {
      background: #ccb885 url(/work/projects/assets/sazzy.png);
      background-size: 300px;
      background-repeat: no-repeat;
      background-position: center;
      @media(max-width: 640px) {
        background-size: 200px;
      }
    }
    &.apprenticeship {
      background: $dark-gray url(/work/projects/assets/apprenticeship.png);
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.nocci {
      background: #2a9dbe url(/work/projects/assets/nocci.png);
      background-size: 150px;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.craftsman-swap {
      background: #5D45A0 url(/work/projects/assets/apprenticeship.png);
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.animations {
      background: #fafafa url(/work/projects/assets/animations.png);
      background-size: 300px;
      background-repeat: no-repeat;
      background-position: center;
      @media(max-width: 640px) {
        background-size: 200px;
      }
      p {
        color: #222;
      }
    }

    @media(max-width: 640px) {
      height: 300px;
    }


    p {
      background: rgba(0,0,0,0.1);
      font-size: 1.2em;
      line-height: 1.2em;
      margin: 0;
      padding: 1.5em;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      visibility: hidden;
      opacity:0;
      transition:opacity 0.3s linear;
      @media(max-width: 640px) {
        padding: 0.8em;
      }
    }
  }
  a:hover {
    p {
      visibility: visible;
      opacity:1;
    }
  }
}

.about {
  margin-top: 2em;
  h1 {
    line-height: 1.35em;
    font-style: normal;
    font-size: 2em;
    margin: 0.5em 0 1em 0;
    max-width: 700px;
    a {
      text-decoration: none;
    }
  }
}

.left-col, .right-col {
  float: none;
  margin: 2em 0;
  width: 100%;
  h2 {
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.left-col {
  margin-right: 2%;
}

.statement {
  color: #444;
  font-size: 0.9em;
  overflow: hidden;
  display: block;
  max-width: 600px;
  .column {
    float: left;
    margin-right: 6%;
    width: 47%;
    &:last-child {
      margin-right: 0;
    }
    p {
      margin: 0;
    }
  }
}

.statement-mobile {
  color: #444;
  display: none;
  font-size: 0.9em;
  overflow: hidden;
  margin: 1em 0 2.5em 0;
  p {
    margin: 0 0 0 1em 0;
  }
}

button, .button {
  background: $mustard;
  color: $white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 14px;
  text-decoration: none;
  &:hover {
    background: darken( $mustard, 5% );
  }
}

.tag {
  border: 1px solid $mustard;
  color: $white;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  padding: 0.8em 0.7em 0.6em 0.8em;
  display: inline-block;
  line-height: 1em;
  vertical-align: top;
}

.blend {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.divide {
  border-top: 1px solid $light-gray;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  padding-bottom: 1.3em;
  width: 30px;
}

.remove-margin {
  margin: 0;
}

/*------  Apprenticeship  ------*/

.link-section {
  a { color: $white; }
}

.apprenticeship-header {
  h2 {
    color: $white;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
  }
  .cursor {
    margin-left: -135px;
    width: 135px;
  }
}

.syllabus-nav {
  padding: 1em 0;
  a {
    color: $white;
    font-size: 0.9em;
    display: block;
    padding: 0.5em 0;
    li {
      display: inline-block;
    }
  }
}

.syllabus {
  li ul {
    margin-bottom: 2em;
  }
}

.m-sub-list {
  margin-bottom: 2em;
}

.project-title {
  margin-top: 5em;
  text-align: center;

  @media (max-width: 500px) {
    margin-top: 3em;
  }

  h1 {
    font-size: 2.4em;
    @media (max-width: 500px) {
      font-size: 2em;
    }
  }
}

.project-tags {
  text-align: center;
  margin: 0 0 2em 0;
}

.project-description {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto 5em auto;
  h2 {
    font-size: 1.3em;
    line-height: 1.4em;
  }
  h5 {
    margin: 2.6em 0 1em 0;
  }
  img {
    margin-bottom: 2em;
  }
}


footer {
  border-top: 1px solid rgba(206, 211, 213, 0.07);
  color: #A8B1B4;
  margin-top: 2em;
  min-height: 60px;
  padding: 1em 0;
  text-align: center;
  .links {
    padding: 0;
    float: left;
    margin: 0;
    a {
      color: inherit;
      display: inline-block;
      font-size: 0.7em;
      margin: 0 2em 0 0;
    }
  }
}

.cf:before,
.cf:after,
.row:before,
.row:after,
.container:before,
.container:after,
section:before,
section:after {
  content: " ";
  display: table;
}

.cf:after,
.row:after,
.container:after,
section:after {
  clear: both;
}

.cf,
.row,
.container,
section {
  *zoom: 1;
}


/*------  Media Queries  ------*/

@media (min-width: 500px) {
  .intro {
    padding: 14em 0;
    display: block;
    width: 100%;
  }
}

@media (min-width: 840px) {
  .column {
    float: left;
    margin: 0 0 0 5%;
    &:first-child {
      margin-left: 0;
    }
    &.full {
      width: 100%;
      margin: 0;
    }
    &.two-thirds {
      width: 65%;
    }
    &.half {
      width: 47.5%;
    }
    &.one-third {
      width: 30%;
    }
    &.one-fourth {
      width: 21.2%;
    }
    &.three-fourths {
      width: 73.8%;
    }
    &.two-fifths {
      width: 40%;
    }
    &.three-fifths {
      width: 55%;
    }
    &.half-margin {
      margin-left: 3%;
      .container {
        width: 100%;
      }
    }
  }
  .sub-nav {
    ul {
      li {
        display: inline-block;
        margin-bottom: 0;
        padding: 2em;
        text-align: left;
      }
    }
    a {
      color: $white;
      display: inline-block;
      padding: 0;
    }
  }
  .apprenticeship-image {
    min-height: 620px;
    margin-top: 0;
  }
  .syllabus-nav {
    li {
      margin-bottom: 0;
    }
    a {
      border: none;
      display: inline-block;
      margin-bottom: 0;
      padding: 0.5em 1em;
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .cards {
    float: left;
    margin-bottom: 2em;
    li {
      display: block;
      float: left;
      padding: 1.8em;
      width: 23.5%;
      margin: 0 0 0 2%;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 1100px) {
  .intro {
    h4 {
      margin: 0.3em 0 0.2em 0;
      font-size: 1.6em;
    }
    h5 {
      margin: 0 0 1.5em 0;
    }
    .divide {
      margin: 0.6em 0 0 0;
      padding-bottom: 0.5em;
    }
  }
}

@media (min-width: 1400px) {
  .intro {
    h4 {
      font-size: 1.8em;
    }
    h5 {
      margin: 0 0 3em 0;
    }
  }
}
