@import "compass/css3/box-sizing";

$light-gray: #D7DDE5;

*, *:before, *:after {
  @include box-sizing(border-box);
}

body {
  color: #627081;
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
  width: 100%;
  @media (max-width: 600px) {
    margin: 1em auto;
  }
}

iframe {
  width: 100%;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #edf1f5;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
}

.column {
  float: left;
  margin: 0 0 0 5%;
  &:first-child {
    margin-left: 0;
  }
  &.full {
    width: 100%;
    margin: 0;
  }
  &.two-thirds {
    width: 65%;
  }
  &.half {
    width: 47.5%;
  }
  &.one-third {
    width: 30%;
  }
  &.one-fourth {
    width: 21.2%;
  }
  &.three-fourths {
    width: 73.8%;
  }
  &.two-fifths {
    width: 40%;
  }
  &.three-fifths {
    width: 55%;
  }
  &.half-margin {
    margin-left: 3%;
    .container {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .column {
    float: none;
    margin: 0;

    &.two-thirds,
    &.half,
    &.one-third,
    &.one-fourth,
    &.three-fourths {
      width: 100%;
    }
  }
}

h2 {
  font-weight: 300;
  font-size: 2.5em;
}

p {
  color: #a5b0be;
  margin: 0 0 1em 0;
  &:last-child {
    margin: 0;
    @media (max-width: 600px) {
      margin: 0 0 1em 0;
    }
  }
}

a {
  color: #a5b0be;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &.belfast-hero {
    background-image: url(/images/belfast-hero.jpg);
  }

  &.california-hero {
    background-image: url(/images/mountains.jpg);
  }

  @media (max-width: 600px) {
    height: auto;
  }
}

header {
  border-bottom: 1px solid rgba(0,0,0,0.08);
  position: absolute;
  width: 100%;
  z-index: 100;
  nav {
    overflow: hidden;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      display: inline-block;
      float: left;
      padding: 2em 2.5em;
      text-decoration: none;
      transition: background-color 0.2s ease;
      &.current {
        background: rgba(0,0,0,0.1);
      }
      &:hover {
        background: rgba(0,0,0,0.1);
      }
      @media (max-width: 600px) {
        display: block;
        width: 100%;
      }
    }
    li {
      color: #fff;
      display: inline;
      font-size: 0.9em;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .future li {
      color: rgba(255,255,255,0.5);
    }
    .future:hover {
      background: transparent;
      cursor: text;
    }
  }
}

.logo {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 9.3em 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;

  &.belfast-logo {
    background: rgba(78, 187, 148, 0.5);
  }

  &.california-logo {
    background: rgba(187, 78, 78, 0.5);
    background: rgba(187, 78, 170, 0.5);
  }

  @media (max-width: 600px) {
    position: relative;
    padding: 17em 0 3.5em 0;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 400px;
  }

  span {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-size: 0.4em;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 0.2em;
  }
}

.intro {
  padding: 2em 0;
  h2 {
    color: $light-gray;
    font-family: 'Rock Salt', cursive;
    font-size: 2.8em;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
    @media (max-width: 600px) {
      font-size: 2em;
    }
  }
}

section {
  padding: 2em 0;
  @media (max-width: 600px) {
    padding: 0;
  }
  h2 {
    margin: 0 0 0.5em 0;
    line-height: 1.2em;
    @media (max-width: 600px) {
      margin: 1em 0 0.5em 0;
    }
  }
  h4 {
    color: #627081;
    font-size: 1.2em;
    font-family: "Rock Salt", cursive;
    line-height: 1.5em;
    margin: 0;
    padding: 2em 0;
    text-align: center;
  }
  p {
    font-size: 1.2em;
  }

  &.gray {
    background: #e6ecf3;
  }
}

.travelers img {
  margin: 0 auto;
  max-width: 260px;
}

.section-title {
  border-bottom: 1px solid #edf1f5;
  color: #627081;
  font-size: 0.9em;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: 0;
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;

  &.gray {
    background: #e6ecf3;
    border-bottom: 1px solid #dbe1e7;
    color: #627081;
  }
}

.center {
  text-align: center;
}

.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.cf:before,
.cf:after,
.row:before,
.row:after,
.container:before,
.container:after,
section:before,
section:after {
  content: " ";
  display: table;
}

.cf:after,
.row:after,
.container:after,
section:after {
  clear: both;
}

.cf,
.row,
.container,
section {
  *zoom: 1;
}
