$red: #e04a28;
$dark-blue: #2c3439;
$article-text: #82929a;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $article-text;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.5em;
}

h1 {
  color: $red;
  font-size: 3.2em;
  font-weight: 200;
  line-height: 1.3em;
  margin: 0;
}
h2 {
  color: lighten($dark-blue, 25%);
  font-size: 1.3em;
  margin-top: 2em;
}
h3 {
  color: lighten($dark-blue, 25%);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 2em 0 1em 0;
  text-transform: uppercase;
}

h4 {
  color: $red;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 2em 0;
  text-transform: uppercase;
}

p {
  color: #8E9AA0;
}

a {
  color: $red;
}

ul {
  color: $article-text;
  margin: 0;
  padding: 0 0 0 1.2em;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
}


.column {
  margin: 2em 0;
  @media(max-width: 640px) {
    margin: 0 0 2em 0;
  }
}

@media (min-width: 840px) {
  .column {
    float: left;
    margin: 0 0 0 5%;
    &:first-child { margin-left: 0; }
    &.full {
      width: 100%;
      margin: 0;
    }
    &.two-thirds { width: 65%; }
    &.half { width: 47.5%; }
    &.one-third { width: 30%; }
    &.one-fourth { width: 21.2%; }
    &.three-fourths { width: 73.8%; }
    &.two-fifths { width: 40%; }
    &.three-fifths { width: 55%; }
    &.half-margin { margin-left: 3%;
      .container { width: 100%; }
    }
  }
}

.hero {
  background: #fff;
  padding: 11em 0;
  p {
    max-width: 500px;
    text-align: center;
    margin: 2em auto 0 auto
  }
}

.slide {
  background: #f9f8f7;
  border-bottom: 1px solid #e5eaec;
  color: $dark-blue;
  padding: 1em 0 3em 0;
  p { color: $article-text; }
}

.content {
  border-bottom: 1px solid #e5eaec;
  border-top: 1px solid #e5eaec;
}

.title {
  color: $red;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-align: center;
  font-size: 5em;
  span {
    color: $dark-blue;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.contents {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  h4 {
    color: #A7B4BA;
    margin: 0;
  }
}

.section-title {
  color: #fff;
  float: left;
  padding: 2em;
  text-align: center;
  width: 33.333%;
  &.one { background: #7B888E; }
  &.two { background: #616E74; }
  &.three { background: #6F7B81; }
}



.cf:before,
.cf:after,
.row:before,
.row:after,
.container:before,
.container:after,
section:before,
section:after {
  content: " ";
  display: table;
}

.cf:after,
.row:after,
.container:after,
section:after {
  clear: both;
}

.cf,
.row,
.container,
section {
  *zoom: 1;
}
