<!doctype html>
<html>
  <head>
    <title>Web Type</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- Use title if it's in the page YAML frontmatter -->
    <%= stylesheet_link_tag "normalize", "web-type" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag  "all" %>
    <link href="/images/favicon.ico" rel="icon" type="image/ico" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
