<header class="apprenticeship-header">
  <h2><a class="blend" href="/apprenticeship">Design Apprenticeship</a></h2>
  <div class="links">
    <a href="http://stephaniebriones.com">Home</a>
    <a href="http://8thlight.com/apprenticeship">8th Light</a>
  </div>
</header>

<nav class="sub-nav" role="navigation">
  <div class="container">
    <ul>
      <li><a href="/apprenticeship/syllabus.html">Syllabus</a></li>
      <li><a href="/apprenticeship/projects.html">Projects</a></li>
      <li><a href="/apprenticeship/readings.html">Readings</a></li>
    </ul>
  </div>
</nav>
