<header>
  <div class="container">
    <a href="/"><h2>Stephanie Briones</h2></a>
    <ul class="links">
      <li class="work-link"><a href="/">Work</a></li>
      <li><a href="http://blog.stephaniebriones.com">Blog</a></li>
      <li><a href="mailto:smbriones@gmail.com">Contact</a></li>
    </ul>
  </div>
</header>
