<section>
  <div class="instagram_desktop">
    <iframe style="border:none; overflow:hidden; width:800px; height: 200px" src="http://www.intagme.com/in/?u=c21icmlvbmVzfGlufDE5MHw0fDF8fG5vfDEwfHVuZGVmaW5lZA==" frameborder="0" scrolling="no" width="320" height="240"></iframe></div>
  <div class="instagram_inbetween">
    <iframe src="http://www.intagme.com/in/?u=c21icmlvbmVzfGlufDIwMHwzfDF8fG5vfDEwfHVuZGVmaW5lZA==" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:630px; height: 210px" ></iframe>
  </div>
  <div class="instagram_iphone_ls">
    <iframe src="http://www.intagme.com/in/?u=c21icmlvbmVzfGlufDkwfDN8MXx8bm98NXx1bmRlZmluZWQ=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:285px; height: 95px" ></iframe>
  </div>
</section>
