<div class="october-challenge">
  <div class="container">
    <p>This project is part of my
      <a target="_blank" href="http://blog.stephaniebriones.com/2016/10/02/october-design-challenge.html">
        October Design Challenge</a>.
    </p>
  </div>
</div>
