<header class="apprenticeship-header">
  <h2><a class="blend" href="/writing">Writing Apprenticeship</a></h2>
  <div class="links">
    <a href="http://stephaniebriones.com">Home</a>
    <a href="http://8thlight.com/apprenticeship">8th Light</a>
  </div>
</header>

<nav class="sub-nav writing" role="navigation">
  <div class="container">
    <ul>
      <li><a href="/writing/syllabus.html">Syllabus</a></li>
      <li><a href="/writing/projects.html">Projects</a></li>
      <li><a href="/writing/reading.html">Reading</a></li>
    </ul>
  </div>
</nav>
