<div class="container">
  <h1>Syllabus</h1>
  <ul class="syllabus-nav">
    <a href="syllabus.html"><li>Environment</li></a>
    <a href="syllabus-visual.html"><li>Visuals</li></a>
    <a href="syllabus-structure.html"><li>Structure</li></a>
    <a href="syllabus-css.html"><li>CSS</li></a>
    <a href="syllabus-organization.html"><li>Organization</li></a>
    <a href="syllabus-tools.html"><li>Tools</li></a>
    <a href="syllabus-copy.html"><li>Copy</li></a>
  </ul>
</div>
