---
title: sb · Artisan
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Artisan</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">HTML</span>
    <span class="tag type">CSS</span>
  </p>

  <div class="project-description">
    <h5>The App</h5>
    <p>
      Artisan is <a href="http://www.8thlight.com">8th Light's</a> internal tool
      for project management. This was a redesign that
      <a target="_blank" href="http://adamkaplan.me/">Adam</a> and I had the
      opportunity to work on for a while.
    </p>
    <h5>Wireframes</h5>
    <p>We started off with wireframes and attempted reimagining the interface. We wanted to imcorporate the language 8th Lighters and its clients use while planning an iteration into the interface itself.</p>
    <div class="row">
      <div class="column half">
        <img src="/work/projects/assets/artisan-wireframe-1.png" style="border: 1px solid #e5eaec;" />
      </div>
      <div class="column half">
        <img src="/work/projects/assets/artisan-wireframe-2.png" style="border: 1px solid #e5eaec;" />
      </div>
    </div>
    <div class="row">
      <div class="column half">
        <img src="/work/projects/assets/artisan-wireframe-3.png" style="border: 1px solid #e5eaec;" />
      </div>
      <div class="column half">
        <img src="/work/projects/assets/artisan-wireframe-4.png" style="border: 1px solid #e5eaec;" />
      </div>
    </div>
    <h5>Story Board Prototype</h5>
    <p>Overall we simplified the application and removed about 60% of the pages
    that are in the current app. We built a prototype using Middleman and started
    bringing over some of the functionality for the story board. We introduced
    a color coding system to indicate different types of stories, (UX, Security, Dev Ops, etc).
    </p>
    <img src="/work/projects/assets/artisan-storyboard.png" style="border: 1px solid #e5eaec;" />
    <img src="/work/projects/assets/artisan-storyboard-2.png" style="border: 1px solid #e5eaec;" />
    <div class="row">
      <div class="column half">
        <img src="/work/projects/assets/artisan-storyboard--mobile.png" style="border: 1px solid #e5eaec;" />
      </div>
      <div class="column half">
        <img src="/work/projects/assets/artisan-whiteboard.jpg" />
        <h5>Responsive Story Board</h5>
        <p>The current app is not responsive and is impossible to view
        on mobile devices. We knew we needed to change that, so we  made sure
        that the framework we built was fully responsive from the start.</p>
        <p>We haven't been able to go back to the project in a while, but we really
        like what we came up with and learned a lot in the process.</p>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/footer" %>
