---
title: sb · Bit
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Bit Bank</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">Branding</span>
    <span class="tag type">Graphic Design</span>
  </p>

  <div class="project-description">
    <h5>The Project</h5>
    <p>
      Bit is a fictional company that I wish were real. It is a bank that
      cares about design, and understands how important it is to the customer's
      experience as a whole. Bit wants everything they make to have a thoughtful,
      meaningful design that fits in with their forward thinking mission.
    </p>
    <p>
      After seeing that the new credit cards my partner and I received a couple
      of days ago were bright red, heavily patterned, and cluttered, just like a couple of our older cards,
      I decided to make designing a better looking credit card my next brand
      <a href="http://blog.stephaniebriones.com/2016/10/02/october-design-challenge.html">
      design challenge</a>.
    </p>
    <img src="/work/projects/assets/credit-cards.png" />

    <h5>Bit Logo</h5>
    <p>
      I almost went with the name Pixel when my partner suggested Bit. I could
      instantly see going in a technical, futuristic direction with the design,
      and I liked that it was only three letters long. I didn't spend too much
      time finding a typeface since I knew I wanted an 8-bit one.
    </p>
    <img src="/work/projects/assets/bit-logo.png" />

    <br>
    <br>
    <h5>Your New Card</h5>
    <p>
      Right after finishing the card and logo, I wanted to see how the letterhead
      might look. Doing this determined even more of the branding, including the
      monospaced body text, and the large, 8-bit, yellow lettering in the background.
    </p>
    <img src="/work/projects/assets/credit-card-letter.png" />
    <p class="caption">
      To me, one of the best parts about getting a new card is peeling it off
      of the letter they send you. I wanted the letter itself to be something
      I would enjoy looking at.
    </p>

    <br>
    <h5>Brand Guidelines</h5>
    <p>5 colors, logo rules, type suggestions, and card styles.</p>
    <img src="/work/projects/assets/bit-branding.png" />

    <br>
    <br>
    <h5>Banking for the Future</h5>
    <p>
      Some banks are working hard to improve their services and their design,
      which is really great to see. I've been a <a href="https://www.simple.com/">
      Simple</a> customer since 2012, and I love what they do.
    </p>
  </div>
</div>

<img src="/work/projects/assets/banking-bg.png" />

<%= partial "partials/footer" %>
