---
title: sb · Footprints
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Footprints</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">HTML</span>
    <span class="tag type">CSS</span>
  </p>

  <div class="project-description">
    <h5>The App</h5>
    <p>
      Footprints is <a href="http://www.8thlight.com">8th Light's</a> internal tool
      for tracking apprentice applicants. It was created to guide mentors through
      interview and code review processes.
    </p>
    <h5>Icons</h5>
    <img src="/work/projects/assets/footprints-icons.png" />
    <h5>Dashboard</h5>
    <img src="/work/projects/assets/Footprints-Dashboard.png" style="border: 1px solid #eee;" />
    <h5>Toggle Navigation</h5>
    <img src="/work/projects/assets/Footprints-Navigation.png" style="border: 1px solid #eee;" />
    <p>
    </p>
  </div>
</div>

<%= partial "partials/footer" %>
