---
title: sb · Icon Font
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Nocci Icon Font</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Illustration</span>
  </p>

  <div class="project-description">
    <img src="/work/projects/assets/icon-font.png" />
    <h2>
      I wanted to make a small, simple set of icons for fun. Every
      once in a while I find a use for them.
    </h2>
    <p>
      This project was really just a great reminder of how complex creating a
      typeface would be. I used
      <a href="http://inkscape.org/en/download/">Inkscape</a> and followed some of
      the advice in <a href="http://www.webdesignerdepot.com/2012/01/how-to-make-your-own-icon-webfont/">this article</a>. My process was pretty simple. I sketched the
      icons out on paper and took photos of them with my iPhone since I didn't have
      a scanner around.
    </p>
    <p>
      First I worked on the photos by opening them in PhotoShop and adjusting the
      brightness and contrast. I saved and opened them in Illustrator where I Image
      Traced them to create a vector version. Then I opened each one in Inkscape
      where I sized and aligned them on the baseline and assigned each one a
      letter on the keyboard.
    </p>
    <p>
      If you'd like to use it for your own projects, feel free to <a href="/work/projects/assets/nocci-icon-font.ttf">download the .ttf</a>.
    </p>
  </div>
</div>
