---
title: sb · JetSet
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>JetSet World Travel</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
  <span class="tag type">Visual Design</span>
  <span class="tag type">Branding</span>
  <span class="tag type">HTML</span>
  <span class="tag type">CSS</span>
  </p>

  <div class="project-description">
    <p>An iOS app design for <a href="http://www.jetsetworldtravel.com/">JetSet World Travel</a>, which we later white-labeled as <a href="http://stephaniebriones.com/work/projects/axus.html">AXUS Travel App</a>. JetSet wanted to make it so that their clients could have access to their complex travel plans and assets from their mobile devices, rather than needing to print and carry around stacks of paper documents.
    <h5>Color Palette</h5>
    <img src="/work/projects/assets/js-color-pallette.jpg" />
    <h5>iOS Mockups</h5>
    <img src="/work/projects/assets/JS-mobile-mockup.jpg" />
    <img src="/work/projects/assets/JS-mobile-mockup-itinerary.jpg" />
    <img src="/work/projects/assets/JS-mobile-mockup-calendar.jpg" />
    <h5>Web App UI</h5>
    <img src="/work/projects/assets/JS-web-app-2.png" />
  </div>
</div>

<%= partial "partials/footer" %>
