---
title: sb · JetSet Case Study
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>JetSet World Travel</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">Branding</span>
    <span class="tag type">HTML</span>
    <span class="tag type">CSS</span>
  </p>

  <div class="project-description">
    <h5>The Product</h5>
    <p>When we first met with Julia, CEO of <a href="http://jetsetworldtravel.com">JetSet World Travel</a>,
    she shared frustrations with us about not having the right tool for her business. Her company
    creates custom luxury trips. The kinds of trips that involve anything from scuba diving in the
    Maldives to East African safaris. The software that she and her team had to work with was not
    cutting it.</p>
    <h5>The Problem</h5>
    <p>Every moment counts when Julia and her team are planning several trips at once. She wanted to
    reclaim that time they had been spending on parts of the process that could be more automated.
    </p>
    <p>One of the biggest problems they were experiencing was one with paper itineraries.
    They were printing itineraries that were pages and pages long so that their clients would have
    access to them wherever they were while traveling the world. There would be a lot of times
    where the client wouldn't have access to internet, so paper itineraries were the only option.</p>
    <img src="/work/projects/assets/itineraries.jpg" />
    <p class="caption">Original printed itinerary cover design</p>
    <p>The way that Julia's team created these itineraries was another issue. They were putting
    each one together by hand using Microsoft Word. They would paste in images they collected,
    add all the reservation details and ticketing information, format the text, print them, and
    finally hand-deliver them to the client. Creating these would take hours, and her team would
    end up working late at night just to finish them. Another issue was consistency. Every
    itinerary looked slightly different and it made it difficult to establish a clear brand.</p>
    <img src="/work/projects/assets/itineraries-2.jpg" />
    <p class="caption">Original printed itinerary booking design</p>

    <h5>The Solution</h5>
    <p>After meeting with Julia a couple of times, she and our team came to the conclusion that what
    JetSet really needed was a combination of a web-based admin interface for the advisors at JetSet to
    manage bookings, and an iOS application that would store itineraries so that travelers could view
    them even if they were offline. The travelers would no longer need to rely on large stacks of paper
    that they would have to carry around with them, and they were already carrying their iPhone or
    iPad anyway.</p>
    <img src="/work/projects/assets/JS-mobile-mockup-itinerary.jpg" style="border: 1px solid #e5eaec;" />
    <p class="caption">Mockup of the new iOS itinerary, booking, and booking details screens.</p>
    <p>Along with the digital itineraries came the idea and creation of PDF itineraries. If a traveller
    preferred it, they could receive a printed copy of the itinerary without the advisors needing to do
    a lot of extra work. The itineraries were designed to match the rest of the JetSet branding, and
    since have been designed to also use fewer pieces of paper.</p>
    <img src="/work/projects/assets/new-itinerary.jpg" />
    <p class="caption">New PDF itinerary design</p>

    <h5>The Process</h5>
    <p>I began designing the admin interface and iOS app in tandem. Julia and I communicated
    multiple times a day. We were even text messaging each other because she preferred it to email.
    I would text her a screen shot of the itinerary view and she would text back with some feedback
    or a thumbs up. This process allowed me to quickly learn what Julia was looking for.</p>
    <div class="row">
      <div class="column half">
        <img src="/work/projects/assets/text-msg-1.png" style="border: 1px solid #e5eaec;" />
      </div>
      <div class="column half">
        <img src="/work/projects/assets/text-msg-2.png" style="border: 1px solid #e5eaec;" />
      </div>
    </div>
    <p class="caption">Left: At 8th Light we use point-based estimation. Before working, we have the
    client approve the estimate and Acceptance Criteria. Right: After creating JetSet's web and iOS
    UI, we white labeled the app and it's now called
    <a href="/work/projects/axus.html" >AXUS Travel App</a>.</p>
    <p>Julia and her team wanted a clean and classy interface that would reflect their
    <a href="http://jetsetworldtravel.com">existing luxury brand</a>. She pointed out how much
    she liked the look of brands like <a href="http://www.gilt.com/">Gilt</a> and
    <a href="https://www.uber.com/">Uber</a>. Using a darker base for the color palette,
    I was able to create user interfaces that felt timeless and sophisticated, while being unique to
    <a href="http://www.jetsetworldtravel.com/">JetSet World Travel</a>.
    </p>
    <img src="/work/projects/assets/js-color-pallette.jpg" style="border: 1px solid #e5eaec;" />
    <p class="caption">Updated JetSet UI color palette</p>
    <h5>iOS Mockups</h5>
    <img src="/work/projects/assets/JS-mobile-mockup.jpg" style="border: 1px solid #e5eaec;" />
    <p class="caption">Mockup of the iOS app itinerary list</p>
    <img src="/work/projects/assets/JS-mobile-mockup-calendar.jpg" style="border: 1px solid #e5eaec;" />
    <p class="caption">Mockup of the iOS app calendar feature</p>
    <h5>Web App UI: Wireframes</h5>
    <img src="/work/projects/assets/itinerary-wireframes.png" />
    <p class="caption">Wireframes for the web app itinerary and bookings</p>

    <h5>Web App UI: Browser Prototype</h5>
    <img src="/work/projects/assets/itinerary-list.png" />
    <p class="caption">Screenshot of the list of itineraries in the web app</p>
    <img src="/work/projects/assets/JS-web-app-2.png" />
    <p class="caption">Screenshot of a booking in the web app</p>
    <a href="http://jetsetworldtravel.com">http://jetsetworldtravel.com</a><br />
    <a href="http://axustravelapp.com">http://axustravelapp.com</a>
  </div>
</div>

<%= partial "partials/footer" %>
