---
title: sb · Bit
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Mars Poster</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Print Design</span>
    <span class="tag type">Graphic Design</span>
  </p>

  <div class="project-description">
    <img src="/work/projects/assets/mars.png" />
    <p>Download the <a href="/work/projects/assets/mars.png">full size poster</a></p>
    <img src="/work/projects/assets/mars-1.png" />
    <img src="/work/projects/assets/mars-2.png" />

    <p>See it on <a href="https://dribbble.com/shots/3031363-Mars-Poster">Dribbble</a></p>
  </div>

</div>


<%= partial "partials/footer" %>
