---
title: sb · Open Mentor
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Open Mentor</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">UX Design</span>
    <span class="tag type">HTML</span>
    <span class="tag type">CSS</span>
  </p>

  <div class="project-description">
    <p>
      Open Mentor is a side project that I started with my <a href="http://rickwinfrey.com/" target="_blank">partner</a>
      in early 2016. We're building a place for mentors and those wanting mentorship
      to connect and grow together. OM is fully open source, and if you'd like to help out,
      you can take a look at the list of <a href="https://github.com/OpenMentor/OpenMentor/issues">
      todos on GitHub</a> and see if there's anything you'd like to work on.
    </p>
    <h5>Mentors</h5>
    <p>
      The main page of Open Mentor is a list of all mentors. You can filter mentors
      here by skill, and also by name.</p>
    <img src="/work/projects/assets/open-mentor-3.png" />

    <h5>Profiles</h5>
    <p>
      The opposite side of a mentor's card contains links to their various social
      media accounts, (GitHub, Twitter, LinkedIn, Dribbble) to learn more about them.</p>
    <img src="/work/projects/assets/open-mentor-2.png" />

    <h5>Avatars</h5>
    <p>I wanted to make a set of avatars that weren't the generic user silhouette
    that you see in every icon set. I also didn't want to use initials. I wanted
    something that could be part of the design from the start, not an afterthought.
    </p>
    <p>
      <img src="/work/projects/assets/open-mentor-5.png" />
    </p>
    <p>
      I started with a photo from <a href="https://unsplash.com/">Unsplash</a> of a
      mountain range with a lot of different shapes, peaks, and plateaus. I cut out
      circles from the image to make unique patterns, and then used color to add more
      variety. This gave us 24 unique avatars to randomly assign new users until
      they upload their own profile image.
     </p>
     <p>
       <img src="/work/projects/assets/open-mentor-1.png" />
     </p>
    <h5>Logo</h5>
    <p>
      For the branding of Open Mentor, I wanted something light and fun, but at
      first everything I was coming up with was too serious.
    </p>
    <p><img src="/work/projects/assets/open-mentor-7.png" /></p>
    <p>
      It wasn't until after working more on the UI and creating the avatars that
      I found the right shade of blue, which was brighter and more cheerful.
      Currently, the logo is using one of the green avatar patterns, the initials OM,
      and a blue background.
    </p>


    <h5>User Flow</h5>
    <img src="/work/projects/assets/open-mentor-4.png" />

    <h5>Contribute</h5>
    <p>
      Take a look at or follow the <a href="https://github.com/OpenMentor">Open Mentor Repo</a> on GitHub.
    </p>
  </div>
</div>

<%= partial "partials/footer" %>
