---
title: sb · Vision Practice Areas
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Vision</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">Graphic Design</span>
    <span class="tag type">Illustration</span>
  </p>

  <div class="project-description">
    <h5>Icons</h5>
    <img src="/work/projects/assets/practice-areas.png" />
    <h5>Apps</h5>
    <img src="/work/projects/assets/vision-apps.png" />
    <h5>Events Map</h5>
    <img src="/work/projects/assets/vision-map.png" />
  </div>
</div>

<%= partial "partials/footer" %>
