---
title: sb · REST Hooks
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>REST Hooks Logo</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">Graphic Design</span>
    <span class="tag type">Branding</span>
  </p>

  <div class="project-description">
    <h5>The Project</h5>
    <p>
      <a target="_blank" href="http://resthooks.org/">Resthooks.org</a> is an open source initiative from <a target="_blank" href="https://zapier.com">Zapier</a>
      (started in 2013). REST Hooks are a lightweight subscription layer on top of your existing REST API.
    </p>
    <p>
      For my <a target="_blank" href="http://blog.stephaniebriones.com/2016/10/02/october-design-challenge.html">
      October Design Challenge</a> today, I needed to design, (or redesign) a logo. While I
      don't think I have a <em>final</em> version here, it was really interesting, (and
      quite challenging) to see what I could come up with in a short amount of time.
    </p>
    <img src="/work/projects/assets/rest-hooks/rest-hooks-2@2x.png" />
    <img src="/work/projects/assets/rest-hooks/rest-hooks-5@2x.png" />
    <img src="/work/projects/assets/rest-hooks/rest-hooks-1@2x.png" />
    <img src="/work/projects/assets/rest-hooks/rest-hooks-6@2x.png" />
    <img src="/work/projects/assets/rest-hooks/rest-hooks-3@2x.png" />
    <img src="/work/projects/assets/rest-hooks/rest-hooks-4@2x.png" />
  </div>
</div>
<%= partial "partials/october-challenge" %>
<%= partial "partials/footer" %>
