---
title: sb · Rosa SanMarchi
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Rosa SanMarchi</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Branding</span>
    <span class="tag type">Graphic Design</span>
    <span class="tag type">Visual Design</span>
  </p>

  <div class="project-description">
    <p>
      <a target="_blank" href="http://rosasanmarchi.github.io/">Rosa</a> is a good friend of mine. She's a talented <a target="_blank" href="http://rosasanmarchi.github.io/">actor</a>,
      <a target="_blank" href="https://www.etsy.com/shop/rosasanmarchi">jewelry designer</a>, and
      <a target="_blank" href="https://www.instagram.com/p/BNqckJ3ALvE/?taken-by=smbriones">metalsmith</a>.
      When she told me that she was working on branding for her jewelry making
      business, I jumped at the chance to work with her. She wanted something
      for her new line that would also complement
      <a target="_blank" href="https://www.etsy.com/shop/createyourhappy">
      Create Your Happy</a>—her original collection.
    </p>

    <h3>Create Your Happy: Rebrand</h3>
    <p>
      One of the first things I asked Rosa for was some examples of brands that
      she is inspired by. That set the tone and direction for research and some
      initial concepts. After showing Rosa some explorations, we decided to also
      update the branding for Create Your Happy. What I was working towards with
      her new brand ended up being more her style.
    </p>
    <img src="/work/projects/assets/rs-cyh-original@2x.png" />

    <h5>Color Palette</h5>
    <p>
      One metal that she was starting to use in more of her new pieces was copper. She
      was also using a lot of brass and silver, so I started experimenting with
      metallic colors that would mix well with her bright, cheerful Create Your Happy look.
    </p>

    <img src="/work/projects/assets/rs-color-palette.png" />

    <h5>Logo Exploration</h5>
    <p>
      I started with the heart. I wanted to create a custom shape that reflected the
      playfulness of the jewelry she was <a target="_blank" href="https://www.etsy.com/shop/createyourhappy">making</a>,
      and wanted to create in the future.
    </p>

    <img src="/work/projects/assets/rs-create-your-happy.png" />
    <img src="/work/projects/assets/rs-create-your-happy-2.png" />
    <img src="/work/projects/assets/rs-create-your-happy-3.png" />

    <h5>Pattern &amp; Shape Exploration</h5>
    <img src="/work/projects/assets/rs-patterns.png" />

    <h3>Rosa SanMarchi: Branding</h3>
    <p>Rosa was deciding between a few different names for the new collection,
      and in the end made the decision to go with her name—<a target="_blank" href="https://www.etsy.com/shop/rosasanmarchi">Rosa SanMarchi</a>.</p>

    <h5>Logo Exploration</h5>
    <img src="/work/projects/assets/rs-rosa-sanmarchi-2.png" />
    <img src="/work/projects/assets/rs-rosa-sanmarchi.png" />

    <h5>Business Cards</h5>
    <p>
      Rosa was really interested in square business cards. I felt it would fit
      the simple, geometric style of her brand well. I designed them to be two-sided
      and have the logo on one side, and a tagline and contact info on the other
      to keep them really simple.
    </p>
    <img src="/work/projects/assets/rs-business-cards.png" />

    <h5>Shop Banners</h5>
    <p>
      For shops like Etsy, banners are pretty important. I came up with a few different
      versions that Rosa could rotate through when she wanted.
    </p>

    <img src="/work/projects/assets/rs-banner-3.png" style="border-radius: 0px !important;" />
    <img src="/work/projects/assets/rs-banner-1.png" style="border-radius: 0px !important;" />

    <h5>Rosa SanMarchi + Create Your Happy</h5>
    <img src="/work/projects/assets/rs-logos.png" style="border-radius: 0px !important;" />

    <p>
      Take a look at Rosa's work on <a target="_blank" href="https://www.etsy.com/shop/rosasanmarchi">Etsy</a>.
    </p>

  </div>
</div>

<%= partial "partials/footer" %>
