---
title: sb · Sazerwat
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Chicago's Best Sazzy</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Illustration</span>
    <span class="tag type">HTML</span>
    <span class="tag type">CSS</span>
  </p>

  <div class="project-description">
    <p>
      My friend <a href="https://twitter.com/skim">Steve Kim</a> keeps a great list of
      his favorite Sazeracs in Chicago. I built a prototype for him to create an app and
      list new sazzy reviews and keep track of the best and worst in town.
    </p>
    <h5>Logo</h5>
    <img src="/work/projects/assets/sazerwat-logo.png" />
    <h5>The List</h5>
    <img src="/work/projects/assets/sazerwat.png" />
    <p>
      Skim recently moved to London, so I'm sure he's working on a whole new list.
      I'm hoping he actually launches this someday to share the inside scoop with
      other Chicagoans, but either way it was really fun to make.
    </p>
  </div>
</div>

<%= partial "partials/footer" %>
