---
title: sb · Sherlac
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Sherlac</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">HTML</span>
    <span class="tag type">CSS</span>
  </p>

  <div class="project-description">
    <p>
    A fun project started with <a href="https://twitter.com/bashrw">Rick</a>. Sherlac
    is a wrapper for Craigslist. We wanted to make it easier to find apartments and
    the listings more attractive.
    </p>
    <h5>Logo</h5>
    <img src="/work/projects/assets/Sherlac-Logo.png" />
    <h5>Landing Search Form</h5>
    <img src="/work/projects/assets/Sherlac-Landing.png" />
    <h5>Search Results</h5>
    <img src="/work/projects/assets/Sherlac-Results.png" />
    <h5>Mobile Layout</h5>
    <img src="/work/projects/assets/Sherlac-Mobile.png" />
    <h5>Branding</h5>
    <p>Sherlac is a play on Sherlock, (the searching part) and shellac, (like the coat of varnish we wanted to put on Craigslist listings). </p>
    <img src="/work/projects/assets/Sherlac-Logo-Original.png" />
    <img src="/work/projects/assets/red-skyline.png" />
    <img src="/work/projects/assets/Sherlac-Colors.png" />
    <img src="/work/projects/assets/Sherlac-Lines.png" />
  </div>
</div>
