---
title: sb · Type
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Type Pairings</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Typography</span>
    <span class="tag type">Graphic Design</span>
  </p>

  <div class="project-description type">
    <div class="row">
      <p>
        With most projects, I try to limit myself to one or two typefaces. I love
        the challenge of finding ways to add more visual interest with fewer
        resources. Typefaces created with a wide variety of
        <a href="https://css-tricks.com/almanac/properties/f/font-weight/">weights</a>
        always offer the most flexibility.
      </p>
    </div>

    <div class="row">
      <div class="column half">
        <!-- 1 -->
        <a href="https://dribbble.com/shots/3016276-Book-Cover-Redesign">
          <img src="/work/projects/assets/book-cover.png" />
        </a>
        <p>
          <a href="https://fonts.google.com/specimen/Raleway">
            Raleway Black</a>,
          <a href="https://fonts.google.com/specimen/Raleway">
            Raleway Bold
          </a>
        </p>
      </div>

      <div class="column half">
        <!-- 2 -->
        <a href="http://stephaniebriones.com/news-article">
          <img class="border" src="/work/projects/assets/bee-article.png" />
        </a>
        <p>
          <a href="https://typekit.com/fonts/fatfrank">
            Fat Frank</a>,
          <a href="https://typekit.com/fonts/skolar-sans">
            Skolar Sans
          </a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="column half">
        <!-- 3 -->
        <a href="https://dribbble.com/shots/3046559-Vote">
          <img src="/work/projects/assets/vote.png" />
        </a>
        <p>
          <a href="https://fonts.google.com/specimen/Abril+Fatface">
            Abril Fatface Regular</a>,
          <a href="http://www.losttype.com/font/?name=edmondsans">
            Edmondsans
          </a>
        </p>
      </div>

      <div class="column half">
        <!-- 4 -->
        <a href="https://dribbble.com/shots/3051983-Ticket-to-Mars">
          <img src="/work/projects/assets/mars-ticket@2x.png" />
        </a>
        <p>
          <a href="https://www.fontsquirrel.com/fonts/clear-sans">
            Clear Sans Bold</a>,
          <a href="https://www.fontsquirrel.com/fonts/clear-sans">
            Clear Sans Regular
          </a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="column half">
        <!-- 5 -->
        <a href="https://dribbble.com/shots/3024416-Usable-Beautiful">
          <img src="/work/projects/assets/usable-beautiful.png" />
        </a>
        <p>
          <a href="http://www.losttype.com/font/?name=edmondsans">
            Edmondsans Medium
          </a>,
          <a href="http://www.losttype.com/font/?name=edmondsans">
            Edmondsans Bold
          </a>,
          <a href="https://fonts.google.com/specimen/Abril+Fatface">
            Abril Fatface Regular
          </a>
        </p>
      </div>

      <div class="column half">
        <!-- 6 -->
        <a href="https://dribbble.com/shots/3056723-Sometimes">
          <img src="/work/projects/assets/ds-quote.png" />
        </a>
        <p>
          <a href="https://www.fontsquirrel.com/fonts/clear-sans">
            Clear Sans Light</a>,
          <a href="https://www.fontsquirrel.com/fonts/clear-sans">
            Clear Sans Bold
          </a>
        </p>
      </div>
    </div>

    <div class="footnotes">
      <h5>Resources</h5>
      <ul>
        <li>▪ <a href="https://fonts.google.com/">Google Web Fonts</a></li>
        <li>▪ <a href="https://www.fontsquirrel.com/">Font Squirrel</a></li>
        <li>▪ <a href="http://www.losttype.com/">Lost Type</a></li>
        <li>▪ <a href="https://typekit.com/">Typekit</a></li>
        <li>▪ <a href="https://www.myfonts.com/">MyFonts</a></li>
      </ul>
    </div>

  </div>
</div>

<%= partial "partials/footer" %>
