---
title: sb · Vision App
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Vision App</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">Graphic Design</span>
    <span class="tag type">Illustration</span>
  </p>

  <div class="project-description">
    <h5>Icons</h5>
    <img src="/work/projects/assets/practice-areas.png" style="border: 1px solid #e5eaec;" />
    <h5>Apps</h5>
    <img src="/work/projects/assets/vision-apps.png" style="border: 1px solid #e5eaec;" />
    <h5>Events Map</h5>
    <img src="/work/projects/assets/vision-map.png" style="border: 1px solid #e5eaec;" />
  </div>
</div>

<%= partial "partials/footer" %>
