---
title: sb · Zapier Book Covers
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Zapier Book Covers</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">Branding</span>
    <span class="tag type">Illustration</span>
  </p>

  <div class="project-description">
    <p>
      At <a href="http://www.zapier.com">Zapier</a>, most of my time is spent on
      the visual design and interactions of our UI. So when the opportunity to
      redesign our <a href="http://www.zapier.com/learn">eBook covers</a> came up,
      I jumped on it. Any chance I can find to sharpen my skills in a different
      area of design, I go for it.
    </p>
    <div class="row">
      <div class="column half">
        <h4>The Ultimate Guide to Remote Work</h4>
        <img src="/work/projects/assets/zapier-book-remote-work.png" />
      </div>
      <div class="column half">
        <h4>101 Ways to Use Zapier</h4>
        <img src="/work/projects/assets/zapier-book-101-ways.png" />
      </div>
    </div>
    <div class="row">
      <div class="column half">
        <h4>The Ultimate Guide to Forms &amp; Surveys</h4>
        <img src="/work/projects/assets/zapier-book-forms.png" />
      </div>
      <div class="column half">
        <h4>Learn App Integration Tips</h4>
        <img src="/work/projects/assets/zapier-book-integration-tips.png" />
      </div>
    </div>
    <div class="row">
      <div class="column half">
        <h4>Learn How to Use Zapier</h4>
        <img src="/work/projects/assets/zapier-book-how-to-use-zapier.png" />
      </div>
      <div class="column half">
        <h4>The Ultimate Guide to Email Marketing</h4>
        <img src="/work/projects/assets/zapier-book-email-marketing.png" />
      </div>
    </div>
    <p style="text-align: center; margin-top: 1em;">
      <a href="http://www.zapier.com/learn">Download Zapier's eBooks</a>
    </p>
  </div>
</div>

<%= partial "partials/footer" %>
