---
title: sb · Zapier T-Shirts
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Zapier T-Shirts</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">Graphic Design</span>
    <span class="tag type">Print Design</span>
  </p>

  <div class="project-description">
    <h5>Traverse City</h5>
    <p>
      The first t-shirt I designed was for our Summer retreat in Michigan. We stayed
      on a quiet lake in a huge house and spent the days hackathoning, presenting,
      and catching up, and evenings hanging by the water with bonfires.
    </p>
    <img src="/work/projects/assets/zapier-shirt-tc.png" />
    <p class="caption">Traverse City, Michigan • Summer 2015</p>
  </div>

  <div class="project-description">
    <h5>Miramar Beach</h5>
    <p>
      It was winter time in Florida and the weather was chilly. We got together
      for a week of hacking and team building on the Gulf of Mexico.
    </p>
    <img src="/work/projects/assets/zapier-shirt-mb.png" />
    <p class="caption">Miramar, Florida • Winter 2015</p>
  </div>

  <div class="project-description">
    <h5>Whistler</h5>
    <p>
      The most recent t-shirt I worked on was for our Summer 2016 retreat. We
      went to Whistler, BC and explored mountain trails, ziplined in the treetops,
      and hiked our way to gorgeous views of blue lakes.
    </p>
    <img src="/work/projects/assets/zapier-shirt-wc.png" />
    <img src="https://zapier.cachefly.net/storage/photos/3cc16b4b9f132214cb2c8df27176312d.png" />
    <p class="caption">Whistler, BC Canada • Summer 2016</p>
  </div>
</div>

<%= partial "partials/footer" %>
