---
title: sb · Zapier Book Covers
---

<%= partial "partials/header" %>

<div class="container">
  <div class="project-title">
    <h1>Zapier Editor Redesign</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Visual Design</span>
    <span class="tag type">UX Design</span>
    <span class="tag type">HTML</span>
    <span class="tag type">CSS</span>
  </p>

  <div class="project-description">
    <p>
      Five months before the actual release day in January 2016, we were scheduled to launch
      a redesigned version of the Zap editor to 10% of new users as an A/B test. 
    </p>
    <p>
      The team had been doing a lot of user testing before I joined, and they’d gotten a lot
      of positive feedback from our customers. Many of them told us that the editor was great
      because it provided the tool they needed to build multi-step workflows. It was what they
      had been asking for.
    </p>
    <img src="/work/projects/assets/zapier-editor-1.png" />
    <p class="caption">The new Zap editor</p>
    <p>
      But we just couldn't shake the feeling that we could do better. Though the
      test participants were telling us what we had built was allowing them to build the Zaps
      they wanted, they also were telling us that it took more time to set up a Zap, and it
      felt like there were a lot more steps.
    </p>
    <p>
      Even though our CPO (and project lead) knew that we'd have to launch much later, he supported
      the idea of a redesign of the redesign. What we had built in the end was something that we felt
      not only solved the "too many steps" problem, but something that we were so much more confident
      would meet the needs of our customers, while allowing us far more flexibility for the future.
    </p>
    <p>
      Here are just a few of the new features:
    </p>
    <img src="/work/projects/assets/Multi-step@2x.png" />
    <img src="/work/projects/assets/Code@2x.png" />
    <img src="/work/projects/assets/Better-Filters@2x.png" />
    <img src="/work/projects/assets/Lookups@2x.png" />
    <ul>
      <li>Read my <a href="http://blog.invisionapp.com/redesigning-interactive-editor/" target="_blank">InVision Post</a> about the Editor &rarr;</li>
      <li><a href="https://zapier.com/sign-up/" target="_blank">Sign Up</a> for Zapier &rarr;</li>
      <li>More about <a href="https://zapier.com/multi-step-zaps/" target="_blank">Multi-Step Zaps</a> &rarr;</li>  
    </ul>
    </a>
  </div>
</div>

<%= partial "partials/footer" %>
