---
layout: walls
---

<%= partial "partials/header" %>

<div class="container">
  <h1>Walls</h1>
</div>

<span class="divider">&#12336;</span>

<div class="container photos">
  <img src="/walls/images/white.jpg" alt="White painted brick wall" title="White painted brick wall" />
  <img src="/walls/images/bees.jpg" alt="Bees Matter mural" title="Bees Matter mural" />
  <img src="/walls/images/cedar.jpg" alt="Faded cedar alley wall" title="Faded cedar alley wall" />
  <img src="/walls/images/jungle.jpg" alt="Peeling mural under the tracks" title="Peeling mural under the tracks" />
  <img src="/walls/images/gray.jpg" alt="Alley painted brick wall" title="Alley painted brick wall" />
  <img src="/walls/images/two-tone.jpg" alt="Brick and cement wall" title="Brick and cement wall" />
  <img src="/walls/images/plants.jpg" alt="Peeling flower mural under the tracks" title="Peeling flower mural under the tracks" />
  <img src="/walls/images/stone.jpg" alt="Large stones wall" title="Large stones wall" />
</div>

<%= partial "partials/october-challenge" %>
<%= partial "partials/footer" %>
