<%= partial "partials/writing-apprenticeship-nav" %>

<div class="container">
  <h3>Readings</h3>
  <h5>Business Creation</h5>
  <a href="http://www.amazon.com/dp/0307887898/">
    <div>
      <p>
      The Lean Startup
      <span class="tag">Eric Ries</span>
      </p>
    </div>
  </a>

  <h5>Value Creation & Testing</h5>
  <a href="http://www.amazon.com/dp/0307463745/">
    <div>
      <p>
        Rework
      <span class="tag">Jason Fried & David Heinemeier Hansson</span>
      </p>
    </div>
  </a>

  <h5>Marketing</h5>
  <a href="http://www.amazon.com/dp/1591841003/">
    <div>
      <p>
        All Marketers Are Liars
        <span class="tag">Seth Godin</span>
      </p>
    </div>
  </a>
  <a href="http://www.amazon.com/dp/0684856360/">
    <div>
      <p>
        Permission Marketing
        <span class="tag">Seth Godin</span>
      </p>
    </div>
  </a>
  <a href="http://www.amazon.com/dp/0887306667/">
    <div>
      <p>
        The 22 Immutable Laws of Marketing
        <span class="tag">Seth Godin</span>
      </p>
    </div>
  </a>
  <a href="http://www.amazon.com/dp/0312284543/">
    <div>
      <p>
        Getting Everything You Can Out of All You’ve Got
        <span class="tag">Jay Abraham</span>
      </p>
    </div>
  </a>

  <h5>Communication</h5>
  <a href="http://www.abookapart.com/products/the-elements-of-content-strategy">
    <div>
      <p>
        The Elements of Content Strategy
        <span class="tag">Erin Kissane</span>
      </p>
    </div>
  </a>
  <a href="http://www.amazon.com/dp/0060891548/">
    <div>
      <p>
        On Writing Well
        <span class="tag">William Zinsser</span>
      </p>
    </div>
  </a>
  <a href="http://www.amazon.com/dp/0321525655/">
    <div>
      <p>
        Presentation Zen
        <span class="tag">Garr Reynolds</span>
      </p>
    </div>
  </a>
  <a href="http://www.amazon.com/dp/1400064287/">
    <div>
      <p>
        Made to Stick
        <span class="tag">Chip & Dan Heath</span>
      </p>
    </div>
  </a>
  <a href="http://www.amazon.com/dp/0805078045/">
    <div>
      <p>
        The Copywriter’s Handbook
        <span class="tag">Robert Bly</span>
      </p>
    </div>
  </a>
  <a href="http://www.amazon.com/dp/0970601999/">
    <div>
      <p>
        Show Me The Numbers
        <span class="tag">Stephen Few</span>
      </p>
    </div>
  </a>

  <h5>Creativity & Innovation</h5>
  <a href="http://www.amazon.com/dp/0743235274/">
    <div>
      <p>
        The Creative Habit
        <span class="tag">Twyla Tharp</span>
      </p>
    </div>
  </a>

  <h5>Design</h5>
  <a href="http://trentwalton.com/">
    <div>
      <p>
        Trent Walton
        <span class="tag">Blog</span>
      </p>
    </div>
  </a>
  <a href="http://www.amazon.com/dp/0465067107/">
    <div>
      <p>
        The Design of Everyday Things
        <span class="tag">Donald Norman</span>
      </p>
    </div>
  </a>
  <a href="http://www.amazon.com/dp/0465067107/">
    <div>
      <p>
        Universal Principles of Design
        <span class="tag">William Lidwell & Kritina Holden</span>
      </p>
    </div>
  </a>

  <h5>Consulting</h5>
  <a href="http://www.amazon.com/dp/0932633013/">
    <div>
      <p>
        Secrets of Consulting
        <span class="tag">Gerald M. Weinberg</span>
      </p>
    </div>
  </a>
  <a href="http://www.amazon.com/dp/0471479691/">
    <div>
      <p>
        Getting Started in Consulting
        <span class="tag">Alan Weiss</span>
      </p>
    </div>
  </a>
</div>
