<%= partial "partials/writing-apprenticeship-nav" %>
<%= partial "partials/writing-syllabus-nav" %>
<div class="container syllabus">
  <h2>Copywriting</h2>
  <ul>
    <li>
    <h4>I. Writing for the Web</h4>
    <ul>
      <li>a. <a href="http://voiceandtone.com/">Voice & Tone</a>
      <span class="tag">MailChimp</span>
      </li>
      <li>b. <a href="http://blog.teamtreehouse.com/3-rules-for-writing-web-copy">3 Rules for Writing Web Copy</a>
      <span class="tag">Nick Pettit</span>
      </li>
      <li>b. <a href="http://uxmas.com/2012/the-4-hs-of-writing-error-messages">The 4 H's of Writing Error Messages</a>
      <span class="tag">Ben Rowe</span>
      </li>
      <li>d. <a href="http://thehipperelement.com/post/75476711614/ux-crash-course-31-fundamentals">UX Crash Course: 31 Fundamentals</a>
      <span class="tag">The Hipper Element</span>
      </li>
    </ul>
    </li>
    <li>
    <h4>II. Interviews & Market Research</h4>
    <ul>
      <li>a. <a href="http://www.amazon.com/dp/0307887898/">Lean Startup</a>
        <span class="tag">Eric Ries</span>
      </li>
      <li>b. <a href="http://www.presentationzen.com/">Presentation Zen</a>
        <span class="tag">Garr Reynolds</span>
      </li>
      <li>c. <a href="http://alistapart.com/article/interviewing-humans">Interviewing Humans</a>
        <span class="tag">Erika Hall</span>
      </li>
    </ul>
</div>
