---
title: sb · Work
---

<%= partial "partials/header" %>

<div role="content" class="container work">
    <ul class="work-cards">
      <li>
        <a class="zapier-books" href="/work/projects/zapier-books.html">
          <p>Zapier Book Covers</p>
        </a>
      </li>
      <li>
        <a class="fletching" href="/work/projects/fletching.html">
          <p>Fletching</p>
        </a>
      </li>
      <li>
        <a class="axus" href="/work/projects/axus.html">
          <p>AXUS Travel App</p>
        </a>
      </li>
      <li>
        <a class="artisan" href="/work/projects/artisan.html">
          <p>Artisan</p>
        </a>
      </li>
      <li>
        <a class="adventures" href="/trips/belfast.html">
          <p>Adventures: Photo journals of recent trips</p>
        </a>
      </li>
      <li>
        <a class="footprints" href="/work/projects/footprints.html">
          <p>Applicant tracking UI and Icons</p>
        </a>
      </li>
      <li>
        <a class="sherlac" href="/work/projects/sherlac.html">
          <p>Modern wrapper for craigslist searches</p>
        </a>
      </li>
      <li>
        <a class="practice-areas" href="/work/projects/practice-areas.html">
          <p>Vision</p>
        </a>
      </li>
      <li>
        <a class="knight" href="/work/projects/battle-quest.html">
          <p>Battle Quest</p>
        </a>
      </li>
      <li>
        <a class="jetset" href="/work/projects/jetset.html">
          <p>JetSet World Travel</p>
        </a>
      </li>
      <li>
        <a class="animations" href="http://blog.stephaniebriones.com/animations/index.html">
          <p>CSS Animations Experiment</p>
        </a>
      </li>
      <li>
        <a class="apprenticeship" href="/apprenticeship">
          <p>Apprenticeship Syllabus</p>
        </a>
      </li>
      <li>
        <a class="nocci" href="/work/projects/icon-font.html">
          <p>An Icon Font called Nocci</p>
        </a>
      </li>
      <li>
        <a class="sazzy" href="/work/projects/sazerwat.html">
          <p>Chicago's Best Sazzy</p>
        </a>
      </li>
      <li>
        <a class="craftsman-swap" href="http://smbriones-swap.herokuapp.com">
          <p>Craftsman Swap with Relevance</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<%= partial "partials/footer" %>
