---
title: Stephanie Briones
---

<%= partial "partials/header" %>

<div role="content" class="container">
  <h3>Work</h3>
  <div class="row">
    <ul class="cards">
      <li>
        <span class="cards-icon">✎</span>
        Design Apprenticeship Syllabus
        <a href="/apprenticeship">
          View Project ➝
        </a>
      </li>
      <li>
        <span class="cards-icon">✎</span>
        Craftsman Swap at Relevance
        <a href="http://smbriones-swap.herokuapp.com">
          View Project ➝
        </a>
      </li>
      <li>
        <span class="cards-icon">✂</span>
        CSS Animations Experiment
        <a href="http://blog.stephaniebriones.com/animations/index.html">
          View Project ➝
        </a>
      </li>
    </ul>
  </div>

  <h3>Articles</h3>
  <div class="row">
    <ul class="cards">
      <li>
        <span class="cards-icon">❝</span>
        Design Craftsman Swap
        <a href="http://blog.8thlight.com/stephanie-briones/2012/11/12/design-craftsman-swap.html">
          Read Article ➝
        </a>
      </li>
      <li>
        <span class="cards-icon">❝</span>
        Designing in the Browser: Web Inspector Prototyping
        <a href="http://blog.8thlight.com/stephanie-briones/2012/08/08/designing-in-the-browser.html">
          Read Article ➝
        </a>
      </li>
    </ul>
  </div>
</div>
