---
title: sb · Work
---

<%= partial "partials/header" %>

<div role="content" class="container work">
  <div class="row">
    <ul class="work-cards">
      <li>
        <h1>Adventures</h1>
        <a class="adventures" href="/trips/belfast.html"></a>
      </li>
      <li>
        <h1>Footprints</h1>
        <a class="footprints" href="/work/projects/footprints.html"></a>
      </li>
      <li>
        <h1>Sherlac</h1>
        <a class="sherlac" href="/work/projects/sherlac.html"></a>
      </li>
      <li>
        <h1>Chicago's Best Sazzy</h1>
        <a class="sazzy" href="/work/projects/sazerwat.html"></a>
      </li>
    </ul>
  </div>
  <div class="row">
    <ul class="work-cards">
      <li>
        <h1>Apprenticeship</h1>
        <a class="apprenticeship" href="/apprenticeship"></a>
      </li>
      <li>
        <h1>Nocci Icon Font</h1>
        <a class="nocci" href="/work/projects/icon-font.html"></a>
      </li>
      <li>
        <h1>Craftsman Swap</h1>
        <a class="craftsman-swap" href="http://smbriones-swap.herokuapp.com"></a>
      </li>
      <li>
        <h1>CSS Animations</h1>
        <a class="animations" href="http://blog.stephaniebriones.com/animations/index.html"></a>
      </li>
    </ul>
  </div>
</div>

<%= partial "partials/footer" %>
