---
layout: trips
---

<div class="hero belfast-hero">
  <header>
    <nav>
      <ul>
        <a href="/trips/belfast.html" class="current"><li>Belfast</li></a>
        <a href="/trips/california.html"><li>Ojai</li></a>
        <a href="" class="future"><li>New Orleans</li></a>
        <a href="" class="future"><li>Durham</li></a>
        <a href="" class="future"><li>Belize</li></a>
      </ul>
    </nav>
  </header>

  <h1 class="logo belfast-logo"><img src="/images/belfast-logo.png" /></h1>
</div>

<section>
  <div class="container">
    <div class="section intro">
      <h2>Design Conference in the UK</h2>
    </div>
  </div>
</section>
