---
layout: trips
---

<div class="hero belfast-hero">
  <header>
    <nav>
      <ul>
        <a href="/trips/belfast.html" class="current"><li>Belfast</li></a>
        <a href="/trips/california.html"><li>Ojai</li></a>
        <a href="" class="future"><li>New Orleans</li></a>
      </ul>
    </nav>
  </header>

  <div class="logo belfast-logo"><img src="/images/belfast-logo.png" alt="Belfast Logo"/></div>
</div>

<section>
  <div class="container">
    <div class="section intro">
      <h2>Design Conference in the UK</h2>
    </div>
  </div>
</section>

<h4 class="section-title gray">Day One</h4>
<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column two-thirds">
        <h2>Trip to Ireland</h2>
        <p>
          Our company generously gives us a budget to spend on conferences. For so long I
          had wanted to go to Build Conf in Belfast, but never really had the opportunity.
          When I found that 2013 was the final year for Build, I knew I had to be there.
          Adam and I were able to get tickets the day they started selling them and I could
          not have been happier.
        </p>
        <p>
          <a href="http://2013.buildconf.com/">Build Conf's schedule</a> did not disappoint.
          The talks and events they planned sounded amazing and we were so excited to get
          there, see the city, and visit Ireland for the first time. Each day of the
          conference had a different purpose; opening night, film, practical, and conference.
        </p>
      </div>
      <div class="column one-third">
        <img src="/images/belfast/airplane.jpg" alt="Photo from airplane window" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/flight.jpg" alt="Photo of Adam and I"/>
      </div>
      <div class="column one-third">
        <img src="/images/belfast/first-walk.jpg" alt="Photo of Belfast sidewalk"/>
      </div>
      <div class="column one-third">
        <img src="/images/belfast/lighted-alley.jpg" alt="Photo of lighted alley"/>
      </div>
    </div>
  </div>
</section>

<h4 class="section-title gray">Day Two</h4>
<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <h2>Exploring the City</h2>
        <p>
          The next morning we found what would turn out to be our favorite place
          to eat, The National. They had the best breakfast and wonderful coffee.
          I think I got a Flat White there every morning.
        </p>
        <p>
          The city was beautiful. I fell in love with the architecture and brick
          streets. The city wasn't as big as I expected, though. We could easily
          walk around the main part in a couple of hours.
        </p>
      </div>
      <div class="column one-third">
        <img src="/images/belfast/be-excellent.jpg" alt="Photo of graffiti" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/adam-graffiti.jpg" alt="Photo of graffiti" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/portal.jpg" alt="Photo of a round window to the patio" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/coffee.jpg" alt="Photo of my Flat White" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/robot.jpg" alt="Photo of me looking robotic" />
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/pottingers-entry.jpg" alt="Photo of Pottinger's Entry" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/typecast.jpg" alt="Photo of the Typecast office" />
      </div>
      <div class="column one-third">
        <h2>Opening Night</h2>
        <p>
          We walked to the Typecast Open House to meet and hang out with other
          Build attendees. It was really fun talking to so many people in our
          industry, and that night we met some amazing people from Shopify that we
          still keep in touch with. You'll meet them later.
        </p>
      </div>
    </div>
  </div>
</section>

<h4 class="section-title">Day Three</h4>
<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/adam-bench.jpg" alt="Photo of Adam on a bench" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/buildings.jpg" alt="Photo of buildings in Belfast" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/me-bench.jpg" alt="Photo of me on a bench" />
      </div>
    </div>
  </div>
</section>

<hr>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <h2>Film</h2>
        <p>
          Adam and I did a lot of exploring during the day. We did some shopping, walked the
          streets, took lots of pictures, and then a little napping. Soon we were ready to
          go back out to watch the documentaries with the other attendees. We had pizza,
          beer, and popcorn and settled in to watch three awesome documentaries.
        </p>
      </div>
      <div class="column one-third">
        <p>
          <a href="http://www.signpaintersfilm.com/">Sign Painters</a> followed
          several painters, and the history and methods of sign painting in cities
          around the US.
        </p>
        <p>
          <a href="http://designisonefilm.com/">Design is One: Lella & Massimo Vignelli</a>
          was about the lives of these talented leaders in the design industry.
        </p>
        <p>
          <a href="http://www.strippedfilm.com/">Stripped</a> gave us all a deep dive into
          the world of comic strip cartoonists and the realities they face with the rise of
          digital publications.
        </p>
      </div>
      <div class="column one-third">
        <img src="/images/belfast/movie-night.jpg" alt="Photo of chairs in a row" />
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/badge.jpg" alt="Photo of my Build badge" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/shopify-friends.jpg" alt="Photo of Shopify friends" />
      </div>
      <div class="column one-third">
        <p>
          This is also the night where we received our beautiful conference badges
          and ran into our new Shopify friends from opening night. They were headed out
          when we were and we decided to all go out for some food and drinks.
        </p>
        <p>
          Belfast is incredibly beautiful, especially at night when the small streets
          and alleys are lit with strings of light that swoop down overhead. They're
          magical.
        </p>
      </div>
    </div>
  </div>
</section>

<h4 class="section-title">Day Four</h4>
<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/bushmills-building.jpg" alt="Photo of a building at Bushmills" />
      </div>
      <div class="column two-thirds">
        <h2>Practical</h2>
        <p>
          We woke up, went to our usual morning spot, The National, got some breakfast,
          a flat white, and waited for our bus to Bushmills Distillery. The drive through
          the Irish countryside was so peaceful. I fought sleep for as long as possible,
          but took a bit of nap during the 1.5 to 2 hour drive.
        </p>
        <p>
          It was worth the wait when we stepped out of the bus and into the fresh, cool
          air. We gathered in groups for our tour, met the distillery cat, and followed
          our guide through the distillery. At the end we were able to sample a dram of
          our choice of their whiskeys. I chose the Bushmills 12 Year Distillery Reserve.
        </p>
        <p>
          Then it was back to the bus for the long ride back to Belfast and onto our
          next adventure.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/bushmills-cat.jpg" alt="Photo of a cat at Bushmills" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/bushmills.jpg" alt="Photo of Bushmills distilling equiptment" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/bushmills-street.jpg" alt="Photo of street at Bushmills" />
      </div>
    </div>
  </div>
</section>

<hr>

<section>
  <div class="container">
    <div class="row">
      <div class="column two-thirds">
        <h2>Metalcraft &amp; Blacksmithing</h2>
        <p>
          Maybe one of my favorite things we did in Belfast was make a little leaf out of an iron
          rod. When we got to the tent that this was happening under and felt how cold and damp
          it was outside, we almost backed out. But I knew we would regret it if we didn't.
        </p>
        <p>
          I think Adam hated me for a bit for making him do this with me, but after getting
          into it, we were both having an amazing time. It was scary. People all around
          us in a small area holding boiling hot molten steel within feet of us—the loud clanging
          of hammers on anvils—the whole situation was intimidating. But that's what made it
          fun. It was a challenge. We made these beautiful leaves, with a little help from the
          instructors, and we were so darn proud of ourselves.
        </p>
      </div>
      <div class="column one-third">
        <img src="/images/belfast/fire.jpg" alt="Photo of Blacksmithing fire" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/me-blacksmith.jpg" alt="Photo of me blacksmithing" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/blacksmiths.jpg" alt="Photo of our leaves" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/adam-blacksmith.jpg" alt="Photo of Adam blacksmithing" />
      </div>
    </div>
  </div>
</section>

<hr>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/gameboy-music.jpg" alt="Photo of Casion making  music on a gameboy" />
      </div>
      <div class="column two-thirds">
        <p>After wearing ourselves out with all the metalworking, we went back to our rooms to
        relax for a while. We got ready and went back out for the next event. The Third Annual
        Craft Beer Festival at The Hudson Bar.</p>
        <p>
          The bar had three levels. The first floor was the actual bar, on the second there were
          group games, and the third would be where the music would be later. I was really excited
          about this. <a href="http://chipzel.co.uk/">Chipzel</a> and
          <a href="https://soundcloud.com/casionmusic">Casion</a> use Gameboys to make music.
        </p>
        <p>
          The music was really fun. It turned into a little dance party. Soon everyone was ready
          to do some more exploring, so we headed out on the town with our new friends.
        </p>
      </div>
    </div>
  </div>
</section>

<h4 class="section-title gray">Day Five</h4>
<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/mac.jpg" alt="Photo of the ceiling in The MAC" />
      </div>
      <div class="column two-thirds">
        <h2>Conference</h2>
        <p>
          We really started to feel the results of the past few fun-filled days. We made it to
          the conference at The MAC very sleepy, but excited to hear from the 6 speakers.
          Jason Scott, from the Internet Archive gave a very entertaining and thought-provoking
          presentation and Frank Chimero's
          <a href="http://frankchimero.com/talks/what-screens-want/transcript/">What Screens Want</a>
          still keeps me thinking.
        </p>
        <p>
          After the conference we met our Shopify friends for dinner at a pub and made our way
          over to 21 Social for the conference after party. Afterward, we went to The Merchant
          for some fantastic cocktails.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <p>
          At The Merchant we found Jon Snow (Kit Harington) and Ygritte (Rose Leslie) sitting at the
          bar. We asked for a photo with them, but Rose offered to take a photo of us with Kit instead.
          Our group was so giddy, all being huge GoT fans.
        </p>
        <p>
          We had a great time getting to know everyone and walked around the city taking in the scenery
          until it was time to call it a night.
        </p>
      </div>
      <div class="column one-third">
        <img src="/images/belfast/jon-snow.jpg" alt="Photo of us with Jon Snow" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/art-alley.jpg" alt="Photo of a lighted alley with art" />
      </div>
    </div>
  </div>
</section>

<h4 class="section-title">Day Six</h4>
<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/merchant.jpg" alt="Photo of the ceiling in The Merchant" />
      </div>
      <div class="column two-thirds">
        <h2>Our Last Day</h2>
        <p>
          During our last day, we did a lot of resting and reflecting on the week. Ate some good food,
          talked about the experience, and later met up with friends at The Merchant, (our new favorite
          spot). Our group slowly got bigger and bigger. It was really fun to meet so many amazing
          people.
        </p>
        <p>
          We finally ended up in our own space in The Merchant and made our own Werewolf cards out of
          some paper the staff gave us. We played round after round, but Adam and I had an early flight
          and we had an even early bus to catch, so we had to say our goodbyes. But not until after we
          took a couple of group photos.
        </p>
        <p>
          It was awesome to meet you, Kylea, Daniel, Serena, Russell, Ben, and Evan. Thanks for so
          many fun memories.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/belfast/werewolf.jpg" alt="Photo of us making Werewolf cards" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/shopify-friends-2.jpg" alt="Photo of us and Shopify friends" />
      </div>
      <div class="column one-third">
        <img src="/images/belfast/home.jpg" alt="Photo of Ireland countryside" />
      </div>
    </div>
  </div>
</section>

<img src="/images/belfast/group-photo.jpg" alt="Photo of the group" />
