---
layout: trips
---

<div class="hero california-hero">
  <header>
    <nav>
      <ul>
        <a href="/trips/belfast.html"><li>Belfast</li></a>
        <a href="/trips/california.html" class="current"><li>Ojai</li></a>
        <a href="" class="future"><li>New Orleans</li></a>
        <a href="" class="future"><li>Durham</li></a>
        <a href="" class="future"><li>Belize</li></a>
      </ul>
    </nav>
  </header>

  <h1 class="logo california-logo"><img src="/images/california-logo.png" /></h1>
</div>

<section>
  <div class="container">
    <div class="section intro">
      <h2>Birthday on the West Coast</h2>
    </div>
  </div>
</section>

<h4 class="section-title gray">Travel Companions</h4>
<section class="gray travelers">
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img class="circle" src="/images/rick-winfrey.jpg" />
        <h4>Rick Winfrey</h4>
      </div>
      <div class="column one-third">
        <img class="circle" src="/images/adam-kaplan.jpg" />
        <h4>Adam Kaplan</h4>
      </div>
      <div class="column one-third">
        <img class="circle" src="/images/rylan-dirksen.jpg" />
        <h4>Rylan Dirksen</h4>
      </div>
    </div>
  </div>
</section>

<h4 class="section-title">Day One</h4>
<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/adam-me-LAX.jpg" />
      </div>
      <div class="column two-thirds">
        <h2>Journey to the Rental House</h2>
        <p>
          It started off like any other trip. We landed at LAX on time, quickly got our bags,
          and made our way to the rental car. Our first hiccup was that our rental car was
          missing.
        </p>
        <p>
          The issue was quickly resolved. We got a replacement car, loaded our stuff, and made
          our way to Ojai. The drive was pleasant. We grabbed some things to eat and drink as
          soon as we made it to Ojai and then headed toward or rental house. According to our
          maps, we would be there in 5-10 minutes.
        </p>
        <p>
          There was just a little problem. It was dark. Really dark. In the mountains of Ojai
          where our Airbnb house was, there were no lights. Part of the charm, actually, but
          when trying to find the place for the first time, it seemed quite impossible.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <p>
          We were very thankful for the car we were driving, a new Chrysler with a camera for
          reversing. We put it to very good use that night. It's how we managed to not run over
          huge rocks or get stuck in deep holes in the rocky dirt roads. I think we probably
          drove around the area for an hour before we finally found our house.
        </p>
        <p>
          When we walked in, we all relaxed immediately. We were happy that we wouldn't be
          sleeping in the car that night and the house was so cozy.
        </p>
      </div>
      <div class="column one-third">
        <img src="/images/house-ceiling.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/house-dark.jpg" />
      </div>
    </div>
  </div>
</section>

<h4 class="section-title gray">Day Two</h4>
<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column two-thirds">
        <h2>Good Morning, Ojai</h2>
        <p>
          It was the first time we'd actually seen the place we were staying in. We learned
          a lot the first night. It was dark, there wasn't much privacy, and it would be an
          adventure.
        </p>
        <p>
          In the light of day, the place was a lot less scary. It was gorgeous. The light came
          bursting through the windows that were on nearly every wall and bounced cheerfully
          off the white beams of the ceiling.
        </p>
        <p>
          But my favorite part might be the way we could lay in bed and stare at the
          stars through the skylight in the ceiling. The sections of glass floor in the
          kitchen were a lot of fun and were just another way of making this house feel like
          a super cool treehouse.
        </p>
      </div>
      <div class="column one-third">
        <img src="/images/adam-rylan-kitchen.jpg" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/rylan-rick-outside.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/adam-glass-floor.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/backyard.jpg" />
      </div>
    </div>
  </div>
</section>

<hr>

<section>
  <div class="container">
    <div class="row">
      <div class="column two-thirds">
        <h2>Queen of the Coast</h2>
        <p>
        Our first beach trip was to the famous surf spot,
        <a href="https://www.google.com/maps/place/Rincon+Beach+Park/@34.378217,-119.482154,17z/data=!3m1!4b1!4m2!3m1!1s0x80e90894f5212d19:0x81822da9b27e2e77">Rincon Beach</a>.
          It was about a 45 minute drive from the house. We woke up early, explored the house,
          and had an amazing breakfast at Bonnie Lu's in downtown Ojai.
        </p>
        <p>
          The beach was so beautiful and so quiet. I think everyone had a very happy dog running
          around except for us. The waves were huge and there was a big group of surfers catching
          some pretty great ones.
        </p>
        <p>
          There were these blue and clear creatures all over the shore that I first thought
          were stingy jellyfish, but turned out to be harmless. They were really pretty and
          looked like glass. Rick got in some boogie boarding time while I soaked up the sun.
        </p>
        <p>When we got back to Ojai, we went to Boccali's for some delicious pizza.</p>
      </div>
      <div class="column one-third">
        <img src="/images/rincon-path.jpg" />
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/beach-creature.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/rick-boogie.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/rick-adam-rincon.jpg" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/rick-me-rincon.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/adam-rylan-laughing.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/rick-me-boccalis.jpg" />
      </div>
    </div>
  </div>
</section>

<h4 class="section-title gray">Day Three</h4>
<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column two-thirds">
        <h2>Santa Barbara Beach</h2>
        <p>
          What better way to celebrate the last day of my twenties than on another beach
          in California? This time Santa Barbara. Though this day and this beach was very
          different. The air was cooler, there was a heavy fog over the horizon, and Rylan
          asked Adam to marry him. It was such a fun time and I will remember it always.
        </p>
        <p>
          There were surfers here too, but it was quite a bit rockier and there was a
          lovely little cove that we explored. Rick did some more boogie boarding while
          the rest of us just did some more sunbathing.
        </p>
        <p>
          We had some really good snacks with us, but we soon tired of the sun and started
          our drive back to Ojai for some dinner. We went to a seafood/steakhouse restaurant
          in downtown Ojai then went back to our cute little house to relax.
        </p>
      </div>
      <div class="column one-third">
        <img src="/images/santa-barbara-beach.jpg" />
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/rick-santa-barbara.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/adam-rylan-proposal.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/adam-rylan-yes.jpg" />
      </div>
    </div>
  </div>
</section>

<img src="/images/adam-rylan-santa-barbara.jpg" style="margin-bottom: 0;" />

<h4 class="section-title">Day Four</h4>
<section>
  <div class="container">
    <div class="row">
      <div class="column two-thirds">
        <h2>Santa Barbara Vineyards</h2>
        <p>
          We planned to spend my birthday visiting a couple of vineyards in Santa Barbara.
          We woke up early and had breakfast at Farmer and The Cook, which was actually an
          organic farm with a restaurant attached.
        </p>
        <p>
          We started driving up to Santa Barbara where the two vineyards were that we
          wanted to visit. The drive was so pretty. Such narrow winding roads through
          the mountains.
        </p>
        <p>
          The first vineyard on our list was <a href="http://www.rusack.com/">Rusack</a>. The
          place was really busy and we almost couldn't find a place to park. When we sat
          down outside under the trees, we instantly relaxed and took in the scenery of the
          vineyard and the rows and rows of grape vines. We brought cheese, crackers, and
          salami to snack on while we tasted 6 or 7 different wines.
        </p>
      </div>
      <div class="column one-third">
        <img src="/images/rusack.jpg" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/rick-me-breakfast.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/rusack-2.jpg" />
      </div>
      <div class="column one-third">
        <p>
          The second vineyard we stopped at was <a href="http://www.sunstonewinery.com/">
          Sunstone</a>. It was very hot out and luckily we were able to hang out inside.
          The interior was a lot bigger than Rusack, and we got to sample some delicious
          bread and infused olive oils. We finished our tasting and headed back to our
          California home in Ojai.
        </p>
        <p>
          It was a fantastic birthday and I think the perfect way to say goodbye to 29
          and hello to 30. Thank you boys for such an amazing time in Cali.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/rylan-sunstone.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/me-adam-rylan-sunstone.jpg" />
      </div>
      <div class="column one-third">
        <img src="/images/palm-trees.jpg" />
      </div>
    </div>
  </div>
</section>
