---
layout: trips
---

<div class="hero new-orleans-hero">
  <header>
    <nav>
      <ul>
        <a href="/trips/belfast.html"><li>Belfast</li></a>
        <a href="/trips/california.html"><li>Ojai</li></a>
        <a href="/trips/new-orleans.html" class="current"><li>New Orleans</li></a>
      </ul>
    </nav>
  </header>

  <div class="logo new-orleans-logo"><img src="/images/new-orleans/new-orleans-logo.png" alt="New Orleans Logo"  /></div>
</div>

<section>
  <div class="container">
    <div class="section intro">
      <h2>Design Conference in NOLA</h2>
    </div>
  </div>
</section>

<h4 class="section-title gray">Travel Companions</h4>
<section class="gray travelers">
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img class="circle" src="/images/new-orleans/rick-winfrey.jpg" alt="Rick Winfrey" />
        <h4>Rick Winfrey</h4>
      </div>
      <div class="column one-third">
        <img class="circle" src="/images/new-orleans/adam-kaplan.jpg" alt="Adam Kaplan" />
        <h4>Adam Kaplan</h4>
      </div>
      <div class="column one-third">
        <img class="circle" src="/images/new-orleans/rylan-dirksen.jpg" alt="Rylan Dirksen" />
        <h4>Rylan Dirksen</h4>
      </div>
    </div>
  </div>
</section>

<h4 class="section-title">Day One</h4>
<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/new-orleans/window.jpg" alt="View from hotel window" />
      </div>
      <div class="column two-thirds">
        <h2>Chartres St.</h2>
        <p>
          The first thing I noticed about New Orleans was the beautiful weather. We
          checked into our rooms, and dropped off our bags so we could hurry back out
          and explore some of the French Quarter.
        </p>
        <p>
          I immediately fell for the architecture and the variety of colors with which the
          buildings were painted. The shapes of the windows, and the small overhanging
          balconies with iron railings make the French Quarter one of the most charming
          places I've been in the US.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/new-orleans/buildings.jpg" alt="house ceiling" />
      </div>
      <div class="column one-third">
        <img src="/images/new-orleans/balcony.jpg" alt="house from outside" />
      </div>
      <div class="column one-third">
        <p>
          We wondered down the narrow streets looking for something to eat. There were so
          many choices for perfect looking seafood that it was nearly impossible to pick one.
          We decided on a place near Bourbon Street with fried seafood and Hurricanes in to-go
          cups.
        </p>
      </div>
    </div>
  </div>
</section>

<h4 class="section-title gray">Day Two</h4>
<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column two-thirds">
        <h2>Bonjour, CSS Dev Conf!</h2>
        <p>
          The first morning in New Orleans, Adam and I were excited to get
          to the conference hotel down the street, and pick up our badges
          for <a href="http://2014.cssdevconf.com/">CSS Dev Conf</a>.
        </p>
        <p>
          We were really looking forward to hearing about Flexbox and CSS
          Architecture. In the CSS world, hearing about ways to make your
          CSS more modular is always more than welcome. Especially when in
          the beautiful <a href="http://hotelmonteleone.com/" target="_blank">
          Hotel Monteleone</a>.
        </p>
      </div>
      <div class="column one-third">
        <img src="/images/new-orleans/sb-adam-green.jpg" alt="Adam and I" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/new-orleans/snook.jpg" alt="Jonathan Snook" />
      </div>
      <div class="column one-third">
        <img src="/images/new-orleans/may-and-ellis.jpg" alt="May and Ellis Co." />
      </div>
      <div class="column one-third">
        <img src="/images/new-orleans/conference.jpg" alt="The conference room" />
      </div>
    </div>
  </div>
</section>

<hr>

<h4 class="section-title">Day Three</h4>
<img src="/images/new-orleans/pool.png" style="margin-bottom: 0;" alt="Adam and Rylan at Santa Barbara beach" />

<section>
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/new-orleans/rick.jpg" alt="Rick working by the pool" />
      </div>
      <div class="column one-third">
        <img src="/images/new-orleans/church.jpg" alt="Old Bus" />
      </div>
      <div class="column one-third">
        <img src="/images/new-orleans/antiques.jpg" alt="Red wall and chandalier" />
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="column one-third">
        <img src="/images/new-orleans/frenchmen.jpg" alt="Old building with hand-painted signage" />
      </div>
      <div class="column two-thirds">
        <h2>New Orleans, I love you.</h2>
        <p>
          During our last day, we spent some time at the pool and explored the city. Taking
          some time to tour St. Louis Cathedral, and walk along Frenchmen Street.
        </p>
        <p>
          Anywhere you walk in the French Quarter, there is something incredible to see—
          from the historic architecture to the beautiful food. The city has a vibe I have
          never experienced elsewhere. It now has a special place in my heart.
        </p>
      </div>
    </div>
  </div>
</section>

<%= partial "partials/banner" %>
