---
title: Apprenticeship
---

<%= partial "partials/apprenticeship-nav" %>

<div class="container">
  <div class="project-title">
    <h1>Animations Experiment</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Typography</span>
    <span class="tag css">CSS</span>
    <span class="tag html">HTML</span>
  </p>

  <div class="project-description">
    <h4>
      Recreate concepts from Christian Leborg's, “Visual Grammar”,
      using CSS3 Animations.
    </h4>
    <p>
      Base your experiment on the graphics and descriptions in the
      book, but feel free to use your imagination to come up with
      something new and exciting to animate with CSS.
    </p>
    <section class="readings">
    </section>

    <section class="completed">
      <h5>Completed Projects</h5>
      <ul>
        <li>
        <a href="http://blog.stephaniebriones.com/animations/index.html">
          CSS3 Animations from Visual Grammar
        </a>
        <span class="tag">Stephanie Briones</span>
        </li>
      </ul>
    </section>

    <section class="blog-posts">
      <ul>
        <li>
        <a href="http://blog.stephaniebriones.com/2012/01/23/css3-animations-an-experiment.html">
          CSS3 Animations: An Experiment
        </a>
        <span class="tag">Stephanie Briones</span>
        </li>
      </ul>
    </section>
  </div>
</div>
<%= partial "partials/footer" %>
