---
title: Apprenticeship
---

<%= partial "partials/apprenticeship-nav" %>

<div class="container">
  <div class="project-title">
    <h1>Expressive HTML</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag semantics">Semantics</span>
    <span class="tag html">HTML</span>
  </p>

  <div class="project-description">
    <h2>
      Recreate the Brown Bag Menu using “Expressive” HTML.
    </h2>
    <p>
      Read Billy's article on
      <a href="http://blog.8thlight.com/billy-whited/2011/10/17/expressive-html.html">
      Expressive HTML</a>, explore the basics of a content-out
      approach to writing HTML by marking up the Brown Bag Lunch Truck menu.
    </p>
    <section class="readings">
      <h6>Related Readings</h6>
      <ul>
        <li>
        <a href="http://blog.8thlight.com/billy-whited/2011/10/17/expressive-html.html">
        Expressive HTML
        </a>
        <span class="tag">Billy Whited</span>
      </li>
      </ul>
    </section>

    <section class="completed">
      <h6>Completed Projects</h6>
      <ul>
        <li>
        <a href="http://blog.stephaniebriones.com/testing/expressive/brownbag.html">
          Brown Bag Menu
        </a>
        <span class="tag">Stephanie Briones</span>
        </li>
      </ul>
    </section>

    <section class="blog-posts">
    </section>
  </div>
</div>
