---
title: Apprenticeship
---

<%= partial "partials/apprenticeship-nav" %>

<div class="container">
  <div class="project-title">
    <h1>CSS Positioning</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag css">CSS</span>
    <span class="tag html">HTML</span>
    <span class="tag ux">UX Design</span>
  </p>

  <div class="project-description">
    <h2>For this assignment, you'll read the article,
      <a href="http://dev.opera.com/articles/view/37-css-absolute-and-fixed-positioning/">
      “CSS absolute and fixed positioning”</a> on Dev.Opera by Tommy Olsson.</h2>
    <p>
      You'll then create a one-page website using the things you learn
      about absolute and fixed positioning. Take this as an opportunity to be
      creative.
    </p>

    <section class="readings">
      <h5>Related Readings</h5>
      <ul>
        <li>
          <a href="http://dev.opera.com/articles/view/37-css-absolute-and-fixed-positioning/">
          CSS absolute and fixed positioning</a>
          <span class="tag">Tommy Olsson</span>
        </li>
      </ul>
    </section>

    <section class="completed">
      <h5>Completed Projects</h5>
      <ul>
        <li>
          <a href="http://blog.stephaniebriones.com/testing/positioning/">
            CSS Absolute and Fixed Positioning
          </a>
          <span class="tag">Stephanie Briones</span>
        </li>
        <li>
          <a href="http://quiet-mountain-8078.heroku.com/">
            The Positioning Machine
          </a>
          <span class="tag">Nick Meccia</span>
        </li>
        <li>
          <a href="http://www.adamkaplan.me/projects/position-properties.html">
            Position Properties
          </a>
          <span class="tag">Adam Kaplan</span>
        </li>
        <li>
          <a href="http://www.nelsolbatalla.com/positioning-project/">
            Let's learn about position
          </a>
          <span class="tag">Nelsol Batalla</span>
        </li>
        <li>
          <a href="http://cassieshumway.github.io/project-position/">
            Positioning Project
          </a>
          <span class="tag">Cassie Shumway</span>
        </li>
      </ul>
    </section>

    <section class="blog-posts">
      <h5>Related Blog Posts</h5>
      <ul>
        <li>
          <a href="http://blog.stephaniebriones.com/2011/09/03/positioning-project.html">
          An assignment in Absolute and Fixed Positioning</a>
          <span class="tag">Stephanie Briones</span>
        </li>
        <li>
          <a href="http://cassieshumway.github.io/2014/03/25/example-article.html">
          Absolute Positioning</a>
          <span class="tag">Cassie Shumway</span>
        </li>
        </ul>
    </section>
  </div>
</div>
<%= partial "partials/footer" %>
