---
title: Apprenticeship
---

<%= partial "partials/apprenticeship-nav" %>

<div class="container">
  <div class="project-title">
    <h1>Self-evaluation of Skills</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag ux">UX Design</span>
    <span class="tag html">HTML</span>
    <span class="tag css">CSS</span>
    <span class="tag access">Accessibility</span>
    <span class="tag type">Typography</span>
  </p>

  <div class="project-description">
    <h4>
      Rank your comfort level with various aspects of web
      design on some sort of scale.
    </h4>
    <p>
      As a web designer/front-end developer what are your strengths? What
      are your weaknesses? Where would you like to improve? It may help to rank
      your comfort level with various technologies/aspects of web design on
      some sort of scale.
    </p>

    <section class="readings">
    </section>
    <section class="completed">
      <h5>Completed Projects</h5>
      <ul>
        <li>
          <a href="http://blog.stephaniebriones.com/testing/skills/index.html">
            Self Evaluation of Skills, August 2011
          </a>
          <span class="tag">Stephanie Briones</span>
        </li>
      </ul>
    </section>
    <section class="blog-posts">
    </section>
  </div>
</div>
<%= partial "partials/footer" %>
