---
title: Apprenticeship
---

<%= partial "partials/apprenticeship-nav" %>

<div class="container">
  <div class="project-title">
    <h1>Speedometer Challenge</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag type">Typography</span>
    <span class="tag css">CSS</span>
    <span class="tag jquery">jQuery</span>
  </p>

  <div class="project-description">
    <h2>
      Create a functional speedometer using HTML, CSS, and jQuery.
    </h2>
    <p>
      Take a look at the collection of Chevrolet speedometers from
      <a href="http://annyas.com/chevrolet-speedometer-design/">
      Christian Annyas</a> from between 1941 and 2011. Focusing on
      typeface selection, try to recreate that classic look. Make it
      functional with jQuery and CSS3 Animations.
    </p>
    <section class="readings">
    </section>
    <section class="completed">
      <h5>Completed Projects</h5>
      <ul>
        <li>
          <a href="http://blog.stephaniebriones.com/speedometer/">
            Speed-O-Meter
          </a>
          <span class="tag">Stephanie Briones</span>
        </li>
      </ul>
    </section>

    <section class="blog-posts">
      <ul>
        <li>
        <a href="http://blog.stephaniebriones.com/2012/01/05/Speed-O-Meter-An-assignment-in-CSS-transitions-and.jQuery.html">
          Speed-O-Meter: An assignment in CSS transitions and jQuery
        </a>
        <span class="tag">Stephanie Briones</span>
        </li>
      </ul>
    </section>
  </div>
</div>
<%= partial "partials/footer" %>
