---
title: Apprenticeship
---

<%= partial "partials/apprenticeship-nav" %>

<div class="container">
  <div class="project-title">
    <h1>Tables Challenge</h1>
    <span class="divide"></span>
  </div>

  <p class="project-tags">
    <span class="tag ux">UX Design</span>
    <span class="tag html">HTML</span>
    <span class="tag css">CSS</span>
  </p>

  <div class="project-description">
    <h2>
      Find a schedule, or anything tabular, mark
      it up with semantic HTML, style with CSS.
    </h2>
    <p>
      Everyone knows how much fun tables are. You're free to use anything that you
      can tabulate—Train schedules, menus, etc. Now go out and get some fresh air
      and find some data to tabularize! Just make sure you keep it clean, keep it
      semantic, and learn something!
    </p>

    <section class="readings">
      <h6>Related Readings</h6>
      <ul>
        <li>
          <a href="http://www.goodreads.com/book/show/17745.Envisioning_Information">
          Envisioning Information</a>
          <span class="tag">Edward R. Tufte</span>
        </li>
      </ul>
    </section>

    <section class="completed">
      <h6>Completed Projects</h6>
      <ul>
        <li>
        <a href="http://blog.stephaniebriones.com/testing/starbucks/index.html">
          Starbucks Food Menu
        </a>
        <span class="tag">Stephanie Briones</span>
        </li>
        <li>
        <a href="http://severe-cloud-6331.heroku.com/schedule">
          Metra Train Schedule
        </a>
        <span class="tag">Nick Meccia</span>
        </li>
      </ul>
    </section>

    <section class="blog-posts">
      <h6>Related Blog Posts</h6>
      <ul>
        <li>
        <a href="http://blog.stephaniebriones.com/2011/08/25/some-progress-on-my-assignments.html">
          Some Progress on my Assignments</a>
        <span class="tag">Stephanie Briones</span>
        </li>
        <li>
        <a href="http://blog.stephaniebriones.com/2012/01/13/rethinking-data.html">
          Rethinking Data
        </a>
        <span class="tag">Stephanie Briones</span>
        </li>
      </ul>
    </section>
  </div>
</div>
