---
layout: web-type
---

<div class="hero">
  <div class="container">
    <h1 class="title"><span>Practical</span> Web Typography</h1>
    <p>
      A small collection of principals, tips, and thoughts on typography for
      the web by <a href="http://stephaniebriones.com">Stephanie Briones</a>.
    </p>
  </div>
</div>

<section class="content">
  <div class="container">
    <h4>Ⅰ. Content</h4>
  </div>
</section>

<section class="slide be-concise">
  <div class="container">
    <h2>Be Concise</h2>
    <p>
      Users don't spend much time reading on the web. Studies
      show that users read 20% or less of the content on the
      page. And over half of users spend less than 15 seconds
      on a page. Get straight to the point. Make what you have
      to say count—you only have so many seconds to get your
      point across before they move on.
      sources:
      http://time.com/12933/what-you-think-you-know-about-the-web-is- wrong/
      http://www.nngroup.com/articles/how-little-do-users-read/
    </p>
  </div>
</section>

<section class="content">
  <div class="container">
    <h4>Ⅱ. Style Points</h4>
  </div>
</section>

<section class="content">
  <div class="container">
    <h4>Ⅲ. Techniques</h4>
  </div>
</section>

<!--
<section>
    <ul class="contents">
      <li class="section-title one"><h4>Basics</h4></li>
      <li class="section-title two"><h4>Style Points</h4></li>
      <li class="section-title three"><h4>Extra Credit</h4></li>
    </ul>
</section>
-->
