---
layout: self-evaluation
---

<%= partial "partials/header" %>

<div class="container">
  <h2>Self-Evaluation of Skills</h2>
  <p>October 3rd, 2016</p>
  <section>
    <h4>Languages</h4>
    <h5>HTML</h5>
    <div class="bar">
      <span class="level expert"></span>
    </div>
    <h5>CSS / SCSS</h5>
    <div class="bar">
      <span class="level expert"></span>
    </div>
    <h5>JavaScript</h5>
    <div class="bar">
      <span class="level novice"></span>
    </div>
  </section>
  <section>
    <h4>Practices</h4>
    <h5>User Experience</h5>
    <div class="bar">
      <span class="level expert"></span>
    </div>
    <h5>User Interface</h5>
    <div class="bar">
      <span class="level advanced"></span>
    </div>
    <h5>Typography</h5>
    <div class="bar">
      <span class="level advanced"></span>
    </div>
    <h5>Graphic</h5>
    <div class="bar">
      <span class="level advanced"></span>
    </div>
    <h5>Print</h5>
    <div class="bar">
      <span class="level intermediate"></span>
    </div>
    <h5>Illustration</h5>
    <div class="bar">
      <span class="level novice"></span>
    </div>
  </section>
  <section>
    <h4>Tools</h4>
    <h5>Sketch</h5>
    <div class="bar">
      <span class="level expert"></span>
    </div>
    <h5>InVision</h5>
    <div class="bar">
      <span class="level expert"></span>
    </div>
    <h5>GitHub</h5>
    <div class="bar">
      <span class="level advanced"></span>
    </div>
    <h5>Atom</h5>
    <div class="bar">
      <span class="level advanced"></span>
    </div>
    <h5>Adobe CS</h5>
    <div class="bar">
      <span class="level advanced"></span>
    </div>
    <h5>Vim</h5>
    <div class="bar">
      <span class="level intermediate"></span>
    </div>
    <h5>iTerm</h5>
    <div class="bar">
      <span class="level novice"></span>
    </div>
  </section>
</div>

<%= partial "partials/footer" %>
