---
title: Stephanie Briones
---

<%= partial "partials/header" %>
<div role="content" class="container">
  <div class="about">
    <h2>Hi, I'm Stephanie.</h2>
    <h1>
      I live in Chicago and make things for the web at
      <a href="http://8thlight.com">8th Light, Inc.</a>
    </h1>
  </div>
  <div class="btcf">
    <section class="statement">
      <p>
        Making the web a better place is something I'm very passionate about. It's
        exciting to me when I get the opportunity to improve the usability of
        a web application or even just make something look and feel better.
      </p>
      <p>
        Nothing makes me happier than starting a new project. I see everything
        I work on as a challenge and a chance to learn something new.
      </p>
    </section>

    <%= partial "partials/instagram" %>

    <section>
      <div class="statement-mobile">
        <p>
          Making the web a better place is something I'm very passionate about. It's
          exciting to me when I get the opportunity to improve the usability of
          a web application or even just make something look and feel better.
        </p>
        <p>
          Nothing makes me happier than starting on a new project. I see everything
          I work on as a challege and a chance to learn something new.
        </p>
      </div>
    </section>

    <section class="left-col">
      <h2>Work</h2>
      <ul>
        <li>
          <a href="http://smbriones-swap.herokuapp.com">
            Craftsman Swap at Relevance
          </a>
        </li>
        <li>
          <a href="http://blog.stephaniebriones.com/bookclub">
            Design Book Club
          </a>
        </li>
        <li>
          <a href="http://stephaniebriones.com/apprenticeship">
            Design Apprenticeship Syllabus
          </a>
        </li>
        <li>
          <a href="http://blog.stephaniebriones.com/animations/index.html">
            CSS Animations Experiment
          </a>
        </li>
      </ul>
    </section>
    <section class="right-col">
      <h2>Articles</h2>
      <ul>
        <li>
          <a href="http://blog.8thlight.com/stephanie-briones/2012/11/12/design-craftsman-swap.html">
            Design Craftsman Swap
          </a>
        </li>
        <li>
          <a href="http://blog.8thlight.com/stephanie-briones/2012/08/08/designing-in-the-browser.html">Designing in the Browser: Web Inspector Prototyping</a>
        </li>
     </ul>
    </section>
  </div>
</div>
