---
title: Stephanie Briones
---

<%= partial "partials/header" %>

<div class="container intro">
  <h2 class="simple-about">Product Designer living in Evanston, Illinois. Designing and building interfaces with the remote team at <a href="https://zapier.com/about/">Zapier</a>.</h2>
  <p class="about-cont">Lover of type, coffee, <a href="https://www.instagram.com/p/BJyHJSKA-qL/?taken-by=smbriones" target="_blank">this cat</a>,
    and my amazing <a href="http://rickwinfrey.com/" target="_blank">partner</a>. Find me on <a class="dribbble-link"target="_blank" href="https://dribbble.com/smbriones">Dribbble</a>,
    <a class="insta-link" target="_blank" href="http://instagram.com/smbriones">Instagram</a>, <a class="twitter-link" target="_blank" href="https://twitter.com/smbriones">Twitter</a>, and
    <a class="gh-link"target="_blank" href="http://github.com/smbriones">GitHub</a>.
  </p>
</div>

<div role="content" class="container work">
    <ul class="work-cards">
      <li>
        <a class="open-mentor" href="/work/projects/open-mentor.html">
          <p>Open Mentor</p>
        </a>
      </li>
      <li>
        <a class="zapier-editor" href="/work/projects/zapier-editor.html">
          <p>Zapier Editor Redesign</p>
        </a>
      </li>
      <li>
        <a class="zapier-books" href="/work/projects/zapier-books.html">
          <p>Zapier Book Covers</p>
        </a>
      </li>
      <li>
        <a class="fletching" href="/work/projects/fletching.html">
          <p>Fletching</p>
        </a>
      </li>
      <li>
        <a class="axus" href="/work/projects/axus.html">
          <p>AXUS Travel App</p>
        </a>
      </li>
      <li>
        <a class="artisan" href="/work/projects/artisan.html">
          <p>Artisan</p>
        </a>
      </li>
      <li>
        <a class="adventures" href="/trips/belfast.html" target="_blank">
          <p>Adventures: Photo journals of recent trips</p>
        </a>
      </li>
      <li>
        <a class="footprints" href="/work/projects/footprints.html">
          <p>Applicant tracking UI and Icons</p>
        </a>
      </li>
      <li>
        <a class="sherlac" href="/work/projects/sherlac.html">
          <p>Modern wrapper for craigslist searches</p>
        </a>
      </li>
      <li>
        <a class="animations" target="_blank" href="http://blog.stephaniebriones.com/animations/index.html">
          <p>CSS Animations Experiment</p>
        </a>
      </li>
      <li>
        <a class="knight" href="/work/projects/battle-quest.html">
          <p>Battle Quest</p>
        </a>
      </li>
      <li>
        <a class="practice-areas" href="/work/projects/practice-areas.html">
          <p>Vision</p>
        </a>
      </li>
      <li>
        <a class="jetset" href="/work/projects/jetset.html">
          <p>JetSet World Travel</p>
        </a>
      </li>
      <li>
        <a class="apprenticeship" href="/apprenticeship" target="_blank">
          <p>Apprenticeship Syllabus</p>
        </a>
      </li>
      <li>
        <a class="nocci" href="/work/projects/icon-font.html">
          <p>An Icon Font called Nocci</p>
        </a>
      </li>
      <li>
        <a class="sazzy" href="/work/projects/sazerwat.html">
          <p>Chicago's Best Sazzy</p>
        </a>
      </li>
      <li>
        <a class="craftsman-swap" href="http://smbriones-swap.herokuapp.com" target="_blank">
          <p>Craftsman Swap with Relevance</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<%= partial "partials/footer" %>
