---
title: Stephanie Briones
---

<%= partial "partials/landing-header" %>

<div class="container">
  <div class="intro">
    <h1>Stephanie Briones</h1>
    <h3>Product Designer @ <a href="http://zapier.com">Zapier</a></h3>
    <a href="/work" class="landing button">Work</a>
  </div>
</div>
