---
title: Stephanie Briones
---

<%= partial "partials/header" %>

<div id="instafeed" class="cf">
  <div class="intro">
    <h4>Stephanie Briones</h4>
    <h5>Web Designer</h5>
    <span class="divide"></span>
    <span class="tag">Chicago, IL</span>
    <span class="tag">8th Light, Inc</span>
  </div>
</div>
