---
title: Stephanie Briones
---

<%= partial "partials/landing-header" %>

<div class="container">
  <div class="intro">
    <h1>Stephanie Briones</h1>
    <h3>Director of Design @ <a href="http://8thlight.com/design-studio">8th light, Inc</a></h3>
  </div>
</div>
